<div class="flex min-w-full content-center items-center ml-3.5">
    <div class="w-60">
        <mat-form-field class="fuse-mat-rounded w-full">
            <mat-icon matPreffix>search</mat-icon>
            <input matInput autofocus
                placeholder="Filtre palavra chave">
            <button mat-icon-button matSuffix>
                <mat-icon matSuffix>filter_alt</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="content-start p-2">
        <mat-chip-list #chipList class="content-center" aria-orientation="vertical">

        </mat-chip-list>
    </div>
</div>
