<form [formGroup]="formDecisao">
    <div class="w-full grid grid-cols-1 sm:grid-cols-4 gap-4">

        <mat-form-field class="w-full mb-4 col-span-2" appearance="outline">
            <mat-label>Tipo <span class="text-red-500">*</span></mat-label>
            <mat-select 
                formControlName="tipo"
                (value)="buscarDispositivos($event)" 
                (selectionChange)="buscarDispositivos($event); carregarModeloDeDecisao()"
            >
                <mat-option 
                    *ngFor="let tipo of (tipos$ | async)" 
                    [value]="tipo"
                >
                    {{tipo}}
                </mat-option>
            </mat-select>
            <mat-hint>Informe o tipo</mat-hint>
        </mat-form-field>
    
        <mat-form-field class="w-full mb-4 col-span-2" appearance="outline">
            <mat-label>Dispositivo <span class="text-red-500">*</span></mat-label>
            <mat-select 
                formControlName="dispositivo" 
                (selectionChange)="carregarModeloDeDecisao()"
            >
                <mat-option 
                    *ngFor="let dispositivo of dispositivos" 
                    [value]="dispositivo"
                >
                    {{dispositivo.nome}}
                </mat-option>
            </mat-select>
            <mat-hint>Informe o dispositivo</mat-hint>
        </mat-form-field>
    </div>

    <mat-form-field class="w-full mb-4" appearance="outline">
        <mat-label>Descrição do capítulo <span class="text-red-500">*</span></mat-label>
        <textarea matInput type="text" formControlName="descricao"></textarea>
        <mat-hint>Descrição do que se trata o capítulo da decisão</mat-hint>
    </mat-form-field>

    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
        <mat-form-field class="w-full mb-4" appearance="outline">
            <mat-label>Voto condutor <span class="text-red-500">*</span></mat-label>
            <mat-select formControlName="ministro_condutor">
                <mat-option 
                    *ngFor="let ministro of (ministros$ | async)" 
                    [value]="ministro.nome"
                >
                    <div class="flex items-center">
                        <div>
                            <img class="w-8 h-8 mr-4" [src]="ministro.imagem">
                        </div>
                        <div>{{ ministro.nome }}</div>
                    </div>
                </mat-option>
            </mat-select>
            <mat-hint>Informe qual foi o voto condutor</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="w-full mb-4" appearance="outline">
            <mat-label>Ministros que acompanham <span class="text-red-500">*</span></mat-label>
            <mat-select formControlName="ministros_acordam" multiple>
                <mat-select-trigger>
                    {{formDecisao.controls['ministros_acordam'].value ? formDecisao.controls['ministros_acordam'].value[0] :
                    ''}}
                    <span *ngIf="formDecisao.controls['ministros_acordam'].value?.length > 1" class="font-light text-xs">
                        (+{{formDecisao.controls['ministros_acordam'].value.length - 1}}
                        {{formDecisao.controls['ministros_acordam'].value.length === 2 ? 'outro' : 'outros'}})
                    </span>
                </mat-select-trigger>
                <mat-option 
                    *ngFor="let ministro of (ministros$ | async)" 
                    [value]="ministro.nome"
                >
                    <div class="flex items-center">
                        <div>
                            <img class="w-8 h-8 mr-4" [src]="ministro.imagem">
                        </div>
                        <div>{{ ministro.nome }}</div>
                    </div>
                </mat-option>
            </mat-select>
            <mat-hint>Liste os ministros</mat-hint>
        </mat-form-field>
    
        
    </div>

    <mat-form-field class="w-full mb-4" appearance="outline">
        <mat-label>Acordam os ministros <span class="text-red-500">*</span></mat-label>
        <textarea matInput rows="10" formControlName="texto"></textarea>
        <mat-hint>Descreva a decisão tomada pelo colegiado</mat-hint>
    </mat-form-field>

    <app-aplicar-decisoes
    *ngIf="capitulo"
    [desabilitar]="isDesabilitarForm"
    [limparProcessosSelecionados]="limparProcessosSelecionados"
    [processosParaAplicarAMesmaDecisao]="capitulo.processos_mesma_decisao"
    (obterProcessosSelecionados)="setIdsDosProcessosSelecionados($event)"
></app-aplicar-decisoes>

    <p class="mt-4 text-center flex flex-row gap-4 justify-end items-end">
        <button 
            mat-raised-button 
            class="max-w-full" 
            color="primary"
            *ngIf="isExibirBtnAdicionarDecisao"
            [disabled]="isDesabilitarForm"
            (click)="adicionarDecisao()"
        >
            <mat-icon class="mr-1">add_circle</mat-icon>
            {{'Adicionar decisão' | uppercase}}
        </button>

        <button
            mat-raised-button 
            class="text-xs sm:text-base mr-2"
            color="warn" 
            *ngIf="isExibirBtnExcluirCapitulo"
            [disabled]="isDesabilitarForm"
            (click)="excluirCapitulo()"
        >
            <mat-icon class="mr-1">delete</mat-icon>
            {{'Excluir decisão' | uppercase}}
        </button>

        <button 
            mat-raised-button 
            class="text-xs sm:text-base"
            color="primary" 
            *ngIf="isExibirBtnSalvarDecisao"
            [disabled]="isDesabilitarForm"
            (click)="salvarDecisao()"
        >
            <mat-icon class="mr-1">save</mat-icon>
            {{'Salvar decisão' | uppercase}}
        </button>
    </p>
</form>
