<div class="flex flex-col -m-6">
    <!-- Header -->
    <div class="flex flex-0 h-16 px-8
        items-center justify-between bg-primary text-on-primary"
    >
        <div class="text-lg font-medium">Revisar Decisão</div>
    </div>

    <!-- Formulário -->
    <form [formGroup]="formPublicacao" class="flex flex-col p-2 sm:p-4 overflow-y-auto max-h-80" cdkScrollable>
        <!-- Selecionar Presença e Presidencia dos Ministros -->
        <div class="flex flex-col space-y-2">
            <div class="flex flex-row sm:-mr-2 text-bold space-x-2">
                <span class="ml-auto">Presente</span>
                <span>Ausente</span>
                <span class="hidden sm:block">Presidente</span>
            </div>
            <div class="flex flex-row space-x-8">
                <div class="flex flex-col space-y-2">
                    <mat-radio-group
                      class="flex flex-row space-x-2 sm:space-x-8 justify-between"
                      color="primary"
                      *ngFor="let ministro of (ministros | async)"
                      formControlName="presenca"
                    >
                        <mat-label class="flex flex-row space-x-2">
                            <img
                                  #tooltip="matTooltip"
                                  class="hidden sm:flex flex-0 w-4 h-4
                                  ring ring-offset-1 ring-bg-card
                                  ring-offset-transparent object-cover
                                  ng-star-inserted"
                                  [matTooltip]="ministro.nome"
                                  [matTooltipPosition]="'below'"
                                  [matTooltipClass]="['text-sm mt-1 px-2 py-1']"
                                  [src]="ministro.imagem"
                                  [alt]="ministro.nome"
                                >
                            <span class="sm:whitespace-nowrap">{{ ministro.nome }}</span>
                        </mat-label>
                        <div class="flex flex-row justify-between space-x-12">
                            <mat-radio-button
                              (click)="ministrosAusentes.delete(ministro);ministrosPresentes.add(ministro);"
                              [value]="ministrosPresentes"
                            ></mat-radio-button>
                            <mat-radio-button
                              (click)="ministrosPresentes.delete(ministro);ministrosAusentes.add(ministro);"
                              [value]="ministrosAusentes"
                            ></mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
                <mat-radio-group
                  color="primary"
                  class="hidden sm:flex sm:flex-col sm:space-y-2"
                  formControlName="presidente"
                >
                    <mat-radio-button
                        *ngFor="let ministro of (ministros | async)"
                        [value]="ministro"
                    ></mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field class="block sm:hidden w-full mt-2" appearance="outline">
                <mat-label>Presidente<span class="text-red-500">*</span></mat-label>
                <mat-select formControlName="presidente">
                    <mat-option
                        *ngFor="let ministro of (ministros | async)"
                        [value]="ministro"
                    >
                        <div class="flex items-center">
                            <div>
                                <img class="w-4 h-4 mr-4" [src]="ministro.imagem">
                            </div>
                            <div>{{ ministro.nome }}</div>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Selecionar Acessor Chefe -->
        <mat-form-field class="w-full mt-2" appearance="fill">
            <mat-label>Acessor Chefe<span class="text-red-500">*</span></mat-label>
            <input matInput type="text" formControlName="acessor">
        </mat-form-field>

        <mat-radio-group
            color="primary"
            class="flex flex-col space-y-2"
            formControlName="opcaoData"
        >
            <mat-radio-button
                *ngFor="let opcao of opcoesDataPublicacao"
                [value]="opcao.value"
            >
                {{ opcao.view }}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field
          class="w-full my-4" appearance="fill"
          *ngIf="formPublicacao.getRawValue().opcaoData == 2"
        >
            <mat-label class="font-medium mb-2">Selecionar Data:</mat-label>

            <input matInput [matDatepicker]="dp" [formControl]="date" formControlName="dataPublicacao">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
    </form>
    <div class="flex flex-row m-4 space-x-4">
        <button class="ml-auto" mat-raised-button>Cancelar</button>
        <button color="primary" mat-raised-button (click)="salvar()" [disabled]="formPublicacao.invalid">Salvar</button>
    </div>
</div>
