<div class="absolute inset-0 flex flex-col ">
    <div class="flex justify-between bg-white ">
        <div class="flex justify-start items-center">
            <img src="assets/digital/stf-logo.png" class="ml-8 w-1/5 h-auto">
            <div
                class="text-lg ml-4 md:ml-8 text-primary md:text-3xl md:mt-0 font-extrabold tracking-normal leading-7 sm:leading-10 truncate">
                Diário de Justiça Eletrônico
            </div>
        </div>
        <div class="">
            <button mat-icon-button (click)="matDrawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Header -->
        <div class="bg-stf-background bg-cover bg-no-repeat bg-bottom min-h-20 h-30 relative">
            <div class="absolute inset-0 flex items-center justify-center">

                <div class="mx-4">
                    <form class="flex w-full md:w-180 h-12 border-t pl-4 mr-0 border-b border-l text-gray-800 border-gray-200 bg-white">
                        <div class="flex flex-1 flex-col justify-center mr-4">
                            <span class="text-primary font-medium">O que você procura no DJe?</span>
                            <input
                            class=" truncate"
                            placeholder="Nomes de pessoas, números ou assuntos" />
                        </div>
                        <button
                            class="flex px-2 my-1 mr-2 bg-primary rounded-xl text-white text-sm md:text-base ml-auto uppercase tracking-wider items-center">
                            <mat-icon class="icon-size-5" style="color: white;">search</mat-icon>
                            <span class="ml-2 hidden md:block">Pesquisar no diário</span> 
                        </button>
                    </form>
                </div>
            </div>
        </div>


    <mat-drawer-container class="flex flex-col flex-auto shadow bg-card">

        <!-- Drawer -->
        <mat-drawer class="w-80 bg-white pt-10" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <!-- Sidebar -->
            <app-filtros
                [agregacoes]="agregacoes"
            ></app-filtros>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col lg:p-10 overflow-y-auto bg-white">

            <!-- Main -->
            <div class="bg-gray-200">

                <app-textos
                class="space-y-4"
                    [publicacoes]="publicacoes"
                ></app-textos>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>