<div class="absolute inset-0 flex flex-col ">
    <div class="flex justify-between bg-topo ">
        <div class="flex justify-start items-center">
            <img src="assets/digital/stf-logo.png" class="ml-8 w-1/5 h-auto">
            <div
                class="text-lg ml-4 md:ml-8 text-primary md:text-3xl md:mt-0 font-extrabold tracking-normal leading-7 sm:leading-10 truncate">
                Diário de Justiça Eletrônico
            </div>
        </div>
        <div class="z-0">
            <button mat-icon-button (click)="matDrawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Header -->
    <div class="bg-stf-background bg-cover bg-no-repeat bg-bottom min-h-20 h-30 relative">
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="mx-4 w-full">
                <form class="flex mx-auto md:w-180 h-12 border-t pl-4 border-b border-l text-gray-800 border-gray-200 bg-card rounded-full">
                    <div class="flex flex-1 flex-col justify-center mr-4">
                        <span class="text-primary font-medium">O que você procura no DJe?</span>
                        <input
                        [(ngModel)]="termo"
                        name="termo"
                        class=" truncate"
                        placeholder="Nomes de pessoas, números ou assuntos"
                        (keyup)="termo = $event.target.value" autofocus
                        />
                    </div>
                    <button
                        class="flex p-2 my-1 mr-1 bg-primary rounded-full text-white text-sm md:text-base ml-auto uppercase tracking-wider items-center"
                        (click)="atualizaPesquisa()"
                        >
                        <mat-icon class="icon-size-5" style="color: white;">search</mat-icon>
                        <span class="ml-2 hidden sm:block">Pesquisar no diário</span>
                    </button>
                </form>
            </div>
        </div>
    </div>


    <mat-drawer-container class="flex flex-col flex-auto shadow">

        <!-- Drawer -->
        <mat-drawer class="w-80 bg-page pt-12" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <!-- Sidebar -->
            <digital-filtros
                [agregacoes]="agregacoes"
                [pesquisas]="pesquisas"
                [data_inicio]="data_inicio"
                [data_fim]="data_fim"
                (removido)="refazPesquisa()"
                (emiteFiltros)="trataFiltros($event)"
                (removeFiltros)="removeFiltros($event)"
                (emiteData)="filtraData($event)"
                (emiteProcesso)="trataProcesso($event)"
                (emiteAlerta)="alertaFiltroVazio()"
            ></digital-filtros>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-y-auto bg-page">

            <!-- Main -->
            <div class="lg:mx-10 lg:my-12">

                <div *ngIf="filtrados.length>0" class="pb-2 -mt-7 font-medium flex flex-row">
                    <span>Consulta retornou {{filtrados.length}} {{(filtrados.length===1) ? "resultado" : "resultados"}}</span>
                    <div class="ml-auto space-x-4">
                        <button class="font-medium" style="color: #1170A6;" (click)="anteriorExibidos()">Anterior</button>
                        <span>Apresentando resultados {{left+1}} a {{right}}</span>
                        <button class="font-medium" style="color: #1170A6;" (click)="proximoExibidos()">Próximo</button>
                    </div>
                </div>

                <digital-textos
                class="space-y-4"
                    [filtrados]="exibidos"
                ></digital-textos>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>

<digital-alerta
    [nome]="alerta.nome"
    [titulo]="alerta.titulo"
    [mensagem]="alerta.mensagem"
    [aparencia]="'outline'"
    [tipo]="alerta.tipo"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
