<div class="min-w-full justify-between">
    {{descricao}}
    <!-- <h3>Capítulos</h3>
    <h4>Preliminar 1</h4>
    <p>
        Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga. Não sou faixa preta cumpadi,
        sou preto inteiris, inteiris. Mé faiz elementum girarzis, nisi eros vermeio. Leite de capivaris, leite de mula
        manquis sem cabeça.
    </p>
    <br />
    <h4>Preliminar 2</h4>
    <p>
        Cevadis im ampola pa arma uma pindureta. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e
        fermentis. Suco de cevadiss deixa as pessoas mais interessantis. Tá deprimidis, eu conheço uma cachacis que pode
        alegrar sua vidis.
    </p>
    <br />
    <h4>Preliminar 3</h4>
    <p>
        Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Aenean aliquam molestie
        leo, vitae iaculis nisl. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.
        Paisis, filhis, espiritis santis.
    </p> -->
</div>