<mat-tab-group animationDuration="0ms">
    <mat-tab  
        *ngFor="let voto of votos" 
    >
        <ng-template mat-tab-label>
            {{voto.autor.nome}}
            
            <div 
                class="ml-2 pt-1 py-0.5 px-3 rounded-full text-sm 
                font-semibold text-primary bg-primary-50
                dark:text-primary-50 dark:bg-primary-500 
                ng-star-inserted align-middle"
            > 
                {{voto.tipo}}
            </div>
        </ng-template>

        <!--<digital-conteudo-voto-ministro
            class="w-full"
            [voto]="voto"
        ></digital-conteudo-voto-ministro>-->
    </mat-tab>
</mat-tab-group>