<div class="flex flex-col max-w-240 md:min-w-160 -m-6">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-accent text-on-primary">
    <div class="text-lg font-medium">
      Gerenciar listas
    </div>
    <button mat-icon-button mat-dialog-close [tabIndex]="-1">
        <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <fuse-alert
      class="m-2"
      *ngIf="sucesso"
      [type]="'success'"
      [appearance]="'outline'">
      <span fuseAlertTitle>Sucesso</span>
      {{confirmMessage}}
  </fuse-alert>
  
  <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto ng-pristine ng-invalid ng-touched">
    <div class="flex flex-col justify-between	items-start	p-0 overflow-y-auto max-h-36">
      <section>
        <p *ngFor="let tag of tags">
          <mat-checkbox 
            [checked]="checked"
            [value]="tag.id"
            (change)="tag.checked = !tag.checked"
          >
            {{tag.descricao}}
          </mat-checkbox>
        </p>
      </section>
    </div>
    
    <div class="flex flex-col	items-start mt-8">
      <button class="mb-1" mat-button (click)="abrirModalDeNovaTag()">Cadastrar lista</button>
      <button class="mb-1" mat-button (click)="abrirModalDeGerenciarTag()">Gerenciar Marcadores</button>
    </div>
    
    <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
      <div mat-dialog-actions class="flex items-center mt-4 sm:mt-0 ml-auto">
        <button class="ml-auto sm:ml-0 mr-2" mat-button mat-dialog-close>
          <span>Cancelar</span>
        </button>
  
        <button 
          class="ml-auto"
          color="primary" 
          mat-raised-button 
          mat-dialog-close
          [disabled]="obterTagsSelecionadas().length === 0"
          [mat-dialog-close]="obterTagsSelecionadas()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
