<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="mb-4 bg-white dark:bg-transparent">
        <div class="flex flex-col md:flex-row justify-center items-center sm:justify-between px-8">
            <h1 class="mt-2 text-primary font-medium">
                Resposta de Solicitação de Sessão de Julgamento Extraordinária MMA
            </h1>
            <div class="flex flex-col md:flex-row w-full md:w-auto
                items-end mb-4 sm:my-4 ml-auto space-x-4 space-y-2 md:space-y-0"
            >
                <button class="w-full md:w-auto ml-auto sm:ml-0 mr-2" mat-button>
                    <span>Ciente</span>
                </button>

                <button
                    class="w-full ml-auto static"
                    color="primary"
                    mat-raised-button
                    (click)="modalEscolherSessao()"
                >
                    Ciente e Escolher Sessão
                </button>
            </div>
        </div>
        <hr class="m-0 p-0 mb-4" />

        <fuse-card class="flex">
            <mat-card class="w-full">
                <p>
                    O presidente {{sessao?.colegiado}},
                    informa que não há possibilidade de agenda para a criação da Sessão
                    de Julgamento Extraordinária para a data solicitada de
                    {{sessao?.data_inicio | date: 'dd/MM/yyyy'}}
                </p>

            </mat-card>
        </fuse-card>
    </div>

    <div class="flex-1 min-w-0 px-8 overflow-auto">
        <h2 class="text-primary">Processos</h2>
        <!-- Main -->
        <app-processos-solicitacao-extraordinaria
            [sessao]="sessao"
        ></app-processos-solicitacao-extraordinaria>
    </div>
</div>

<app-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>
