<fuse-drawer
    id="visualizador-pdf"
    [name]="nome"
    [opened]="false"
    [position]="'right'"
    [mode]="'over'"
>
    <div class="w-screen">
        <button 
            class="bg-red-500 mt-9 position-left-90 absolute" 
            mat-icon-button 
            [tabIndex]="-1"
            (click)="toggleDrawerOpen()"
        >
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button> 

        <button 
            class="bg-primary-500 mt-20 position-left-90 absolute" 
            mat-icon-button 
            [tabIndex]="-1"
            (click)="abrirNovaAba()"
        >
            <mat-icon 
                class="text-current text-white"
            >launch</mat-icon>
        </button> 

        <object 
            class="w-full h-full e2e-trusted-url" 
            [data]="link" 
            type="application/pdf"
        >
            <p>Seu navegador não tem um plugin pra PDF</p>
        </object>               
    </div>
</fuse-drawer>