$fuse-drawer-width: 720;

#visualizador-pdf {
    width: #{$fuse-drawer-width}px;
    min-width: #{$fuse-drawer-width}px;
    max-width: #{$fuse-drawer-width}px;
}

.position-left-90 {
    margin-left: 90%;
}

@media (max-width: 800px) {
    #visualizador-pdf {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    
    .position-left-90 {
        margin-left: 88%;
    }
}