<div class="absolute inset-0 flex flex-col min-w-0">
    <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
        <mat-drawer
            #drawer
            tabindex="-1"
            class="w-80 bg-page dark:bg-gray-900"
            [mode]="isTelaPequena() ? 'over' : 'side'"
            [opened]="!isTelaPequena()"
        >
            <div class="w-full flex justify-end mt-4">
                <button
                    mat-icon-button
                    class="mr-4"
                    (click)="drawer.toggle()"
                >
                    <mat-icon
                        *ngIf="isTelaPequena() else mudaIcone"
                    >
                        arrow_forward
                    </mat-icon>

                    <ng-template #mudaIcone>
                        <mat-icon>arrow_back</mat-icon>
                    </ng-template>
                </button>
            </div>

            <app-filtros
                [tarefas]="tarefas"
            ></app-filtros>
        </mat-drawer>

        <mat-drawer-content class="">
            <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-page">
                <!-- Header -->
                <div class="sm:items-center sm:justify-between dark:bg-transparent">
                    <div class="flex items-center justify-between h-16 border-b">
                        <div class="flex items-center">
                            <button
                                mat-icon-button
                                class="ml-6 mr-6 mat-focus-indicator mat-icon-button mat-button-base"
                                (click)="drawer.toggle()"
                            >
                                <span class="mat-button-wrapper">
                                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color"
                                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="menu"
                                        data-mat-icon-namespace="heroicons_outline">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" fit="" height="100%" width="100%"
                                            preserveAspectRatio="xMidYMid meet" focusable="false">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M4 6h16M4 12h16M4 18h16"></path>
                                        </svg>
                                    </mat-icon>
                                </span>
                                <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
                            </button>
                        </div>

                        <div class="flex w-full my-auto mr-2">
                            <div class="hidden md:flex md:gap-4 space-x-2 md:mx-2">
                                <div>
                                    <button mat-raised-button color="primary">
                                        ATRIBUIR
                                    </button>
                                </div>
                                <div>
                                    <button mat-raised-button>
                                        ASSUMIR
                                    </button>
                                </div>
                                <div>
                                    <button mat-raised-button (click)="abrirModalDeIncluirComentario()">
                                        INCLUIR COMENTÁRIO
                                    </button>
                                </div>
                                <div>
                                    <button mat-raised-button>
                                        VISUALIZAR
                                    </button>
                                </div>
                                <div>
                                    <button mat-raised-button>
                                        PRIORIZAR
                                    </button>
                                </div>
                            </div>

                            <div class="block md:hidden w-full">
                                <mat-form-field class="w-full my-auto" appearance="outline">
                                    <mat-label>Opções</mat-label>
                                    <mat-select>
                                        <mat-option color="primary">
                                            ATRIBUIR
                                        </mat-option>

                                        <mat-option>
                                            ASSUMIR
                                        </mat-option>

                                        <mat-option (click)="abrirModalDeIncluirComentario()">
                                            INCLUIR COMENTÁRIO
                                        </mat-option>

                                        <mat-option>
                                            VISUALIZAR
                                        </mat-option>

                                        <mat-option>
                                            PRIORIZAR
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex-auto overflow-y-auto sm:px-2 mt-2" cdkScrollable>
                    <!-- CONTENT GOES HERE -->
                    <app-tabela
                        (emitirTarefas)="tarefas = $event"
                        (emitirTarefasSelecionadas)="obterTarefasSelecionadas($event)"
                    ></app-tabela>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

<app-alerta
    *ngIf="alerta"
    [nome]="NOME_DO_ALERTA"
    [titulo]="alerta.titulo"
    [mensagem]="alerta.mensagem"
    [aparencia]="'outline'"
    [tipo]="alerta.tipo"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>
