<div class="absolute inset-0 flex flex-col min-w-0">
    <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
        <mat-drawer #drawer tabindex="-1" class="w-72 dark:bg-gray-900" [mode]="'side'" opened="true">
            <div class="flex justify-center items-center">
                <h1 class="my-2">Filtros</h1>
            </div>

            <app-filtros></app-filtros>
        </mat-drawer>

        <mat-drawer-content class="">
            <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
                <!-- Header -->
                <div class="sm:items-center sm:justify-between bg-default dark:bg-transparent">
                    <div class="flex items-center justify-between h-16 border-b bg-gray-50 dark:bg-transparent">
                        <div class="flex items-center">
                            <button mat-icon-button
                                class="ml-6 mr-6 mat-focus-indicator mat-icon-button mat-button-base"
                                (click)="drawer.toggle()">
                                <span class="mat-button-wrapper">
                                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color"
                                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="menu"
                                        data-mat-icon-namespace="heroicons_outline">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" fit="" height="100%" width="100%"
                                            preserveAspectRatio="xMidYMid meet" focusable="false">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M4 6h16M4 12h16M4 18h16"></path>
                                        </svg>
                                    </mat-icon>
                                </span>
                                <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
                            </button>
                        </div>

                        <div class="flex w-full my-auto mr-2">
                            <div class="hidden md:flex md:gap-4 md:mx-2">
                                <button mat-raised-button color="primary">
                                    ATRIBUIR
                                </button>

                                <button mat-raised-button>
                                    ASSUMIR
                                </button>

                                <button mat-raised-button>
                                    INCLUIR COMENTÁRIO
                                </button>

                                <button mat-raised-button>
                                    VISUALIZAR
                                </button>

                                <button mat-raised-button>
                                    PRIORIZAR
                                </button>
                            </div>

                            <div class="block md:hidden w-full">
                                <mat-form-field class="w-full my-auto" appearance="outline">
                                    <mat-label>Toppings</mat-label>
                                    <mat-select>
                                        <mat-option color="primary">
                                            ATRIBUIR
                                        </mat-option>

                                        <mat-option>
                                            ASSUMIR
                                        </mat-option>

                                        <mat-option>
                                            INCLUIR COMENTÁRIO
                                        </mat-option>

                                        <mat-option>
                                            VISUALIZAR
                                        </mat-option>

                                        <mat-option>
                                            PRIORIZAR
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex-auto overflow-y-auto px-2 mt-2" cdkScrollable>
                    <!-- CONTENT GOES HERE -->
                    <app-tabela></app-tabela>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
