<app-paginacao
    [totalDeDados]="5"
    (paginacao)="dadosDaPaginacao($event)"
></app-paginacao>

<div class="m-2 sm:mx-0.5">
    <app-linha
        *ngFor="let processo of processos; index as i"
        [processo]="processo"
        (checked)="trataEventoDeChecked($event)"
        [selected]="selectAll"
        (tagSelecionada)="filtrarPorTags($event)"
        (statusSelecionado)="filtrarPorStatus($event)"
        [idLinha]="i"
    ></app-linha>
</div>

<app-paginacao
    [totalDeDados]="5"
    (paginacao)="dadosDaPaginacao($event)"
></app-paginacao>

<app-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>
