<div [ngClass]="ngClass?ngClass:'flex-1 overflow-y-auto min-w-0 px-8'" cdkScrollable>
    <!-- CONTENT GOES HERE -->
    <div>
        <div>
            <digital-processo-painel-expansivo
                *ngFor="let processo of processos"
                [processo]="processo"
            ></digital-processo-painel-expansivo>
        </div>
    </div>
</div>

<digital-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
