<table
    class="w-full table-fixed bg-transparent"
    mat-table
    cdkDropList
    matSort
    [matSortActive]="'autor'"
    [matSortDisableClear]="true"
    [matSortDirection]="'asc'"
    [multiTemplateDataRows]="true"
    [dataSource]="dataSource"
    (cdkDropListDropped)="drop($event)"
    (matSortChange)="ordenar($event)"
>
    <ng-container matColumnDef="autor">
        <th
            class="pl-20 bg-gray-50 dark:bg-black dark:bg-opacity-5"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            disableClear
        >
            Autor
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            <div class="flex flex-row justify-between items-center w-32">
                <div
                    class="flex items-center justify-center w-8 cursor-move"
                    cdkDragHandle
                >
                    <mat-icon
                        class="icon-size-5 text-hint"
                        [svgIcon]="'heroicons_solid:menu'"
                    ></mat-icon>
                </div>

                <mat-checkbox
                    color="primary"
                    [value]="document"
                    (change)="emiteStatusDoCheckbox(document)"
                    [checked]="todosOsCheckboxSelecionados"
                ></mat-checkbox>

                <span>
                    {{document.ordem}}
                </span>

                <div class="mb-3 ml-2">
                    <app-icones-votos
                        [ministros]="document.autores"
                        [quantidade]="document.autores.length"
                    ></app-icones-votos>
                </div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="responsavel">
        <th
            class="pl-15 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            disableClear
        >
            Responsável
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            {{document.responsavel.abreviacao}}
        </td>
    </ng-container>

    <ng-container matColumnDef="comentarios">
        <th
            class="pl-14 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            disableClear
        >
            Comentários
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            {{document.comentario}}
        </td>
    </ng-container>

    <ng-container matColumnDef="documento">
        <th
            class="pl-15 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            disableClear
        >
            Documento
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            {{document.nome}}
        </td>
    </ng-container>

    <ng-container matColumnDef="data">
        <th
            class="pl-12 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            disableClear
        >
            Data de criação
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            {{document.data_criacao | date: 'dd/MM/yyyy'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="situacao">
        <th
            class="pl-16 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            disableClear
        >
            Situação
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            <mat-chip [class]="document.situacao === 'Removido' ? 'bg-red-700 text-white' : 'bg-green-700 text-white'">
                {{document.situacao}}
            </mat-chip>
        </td>
    </ng-container>

    <ng-container matColumnDef="arquivo">
        <th
            class="bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
            mat-header-cell
            *matHeaderCellDef
        >
            Arquivo
        </th>
        <td
            class="text-center"
            mat-cell
            *matCellDef="let document"
        >
            <div class="flex flex-row h-full w-full">
                <mat-chip
                (click)="emiteLink(document.arquivo)"
                class="border-primary border-solid border-2 bg-transparent text-primary mr-2 mt-1"
                >
                    <mat-icon class="mr-2" style="color:red">picture_as_pdf</mat-icon>
                    Abrir
                </mat-chip>

                <button
                    class="min-w-10 px-2 leading-6"
                    (click)="alternarEdicaoDocumento(document)"
                    mat-icon-button
                >
                    <mat-icon class="icon-size-5" [svgIcon]="documentoSelecionado?.id === document.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                </button>

                <div *ngIf="document.revisado" class="border-2 border-solid border-green-800 rounded h-auto"></div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="edicaoDocumento">
        <td
            class="p-0 border-b-0"
            mat-cell
            *matCellDef="let document"
            [attr.colspan]="displayedColumns.length">
            <ng-container *ngIf="documentoSelecionado?.id === document.id">
                <ng-container *ngTemplateOutlet="linhaEdicaoTemplate; context: {$implicit: document}"></ng-container>
            </ng-container>
        </td>

        <ng-template #linhaEdicaoTemplate let-document>
            <div class="shadow-lg overflow-hidden" [@expandCollapse]="documentoSelecionado?.id === document.id ? 'expanded' : 'collapsed'">
                <div class="flex border-b">
                    <form class="flex flex-col w-full" [formGroup]="editarDocumentoForm">
                        <div class="flex p-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-full pl-8">
                                    <div class="flex">
                                        <mat-form-field class="w-1/2 pr-2">
                                            <mat-label>Autores</mat-label>
                                            <mat-select [formControlName]="'autores'" multiple>
                                                <mat-select-trigger>
                                                    {{editarDocumentoForm.controls['autores'].value ? editarDocumentoForm.controls['autores'].value[0]?.nome :
                                                    ''}}
                                                    <span *ngIf="editarDocumentoForm.controls['autores'].value?.length > 1" class="font-light text-xs">
                                                        (+{{editarDocumentoForm.controls['autores'].value.length - 1}}
                                                        {{editarDocumentoForm.controls['autores'].value.length === 2 ? 'outro' : 'outros'}})
                                                    </span>
                                                </mat-select-trigger>
                                                <mat-option
                                                    *ngFor="let ministro of (ministros$ | async)"
                                                    [value]="ministro"
                                                >
                                                    <div class="flex items-center">
                                                        <div>
                                                            <img class="w-8 h-8 mr-4" [src]="ministro.imagem">
                                                        </div>
                                                        <div>{{ ministro.nome }}</div>
                                                    </div>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="w-1/2 pl-2">
                                            <mat-label>Responsável</mat-label>
                                            <mat-select [formControlName]="'responsavel'">
                                                <mat-option
                                                    *ngFor="let ministro of (ministros$ | async)"
                                                    [value]="ministro"
                                                >
                                                    <div class="flex items-center">
                                                        <div>
                                                            <img class="w-8 h-8 mr-4" [src]="ministro.imagem">
                                                        </div>
                                                        <div>{{ ministro.nome }}</div>
                                                    </div>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex">
                                        <mat-form-field class="w-1/2 pr-2">
                                            <mat-label>Nome do Documento</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'nome'">
                                        </mat-form-field>
                                        <mat-form-field class="w-1/2 pl-2">
                                            <mat-label>Comentários</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'comentario'">
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field class="w-full" appearance="outline">
                                        <mat-label>
                                            Observação
                                            <span class="text-red-500">*</span>
                                        </mat-label>
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-end w-full border-t px-8 py-4">
                            <button
                                mat-flat-button
                                class="mr-2"
                                type='button'
                                (click)="fecharEdicaoDocumento()"
                            >
                                CANCELAR
                            </button>

                            <button
                                mat-flat-button
                                type='button'
                                [color]="'primary'"
                                (click)="atualizarDocumento()"
                            >
                                SALVAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
    </ng-container>

    <tr
        class="shadow"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
    ></tr>

    <tr
        [class]="document.situacao === 'Removido' ? 'bg-red-100' : 'hover:bg-gray-100 dark:hover:bg-hover'"
        mat-row
        cdkDrag
        [cdkDragLockAxis]="'y'"
        cdkDragBoundary=".table-fixed"
        *matRowDef="let document; columns: displayedColumns;"
    ></tr>

    <tr
        class="h-0"
        mat-row
        *matRowDef="let row; columns: ['edicaoDocumento']"
    ></tr>
</table>
