<div class="flex flex-row justify-between">
    <div class="flex flex-row items-center">
        <img class="w-14 h-14 mr-4" [src]="voto?.autor?.imagem" [alt]="voto?.autor?.nome">
    
        <div class="text-2xl font-medium leading-4 mt-1">
            {{voto?.autor?.nome}}
        </div>
    </div>

    <app-ministros-que-acompanharam
        [ministrosQueAcompanharam]="voto.acompanharam"
    ></app-ministros-que-acompanharam>
</div>

<div class="mt-4" [innerHtml]="converterDeBase64ParaHtml()"></div>