<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header [collapsedHeight]="'80px'" class="p-4 h-20 sm:h-26">
        <div class="my-4 ml-3.5">
            <div class="w-screen container flex sm:mt-4">
                <div>
                    <div (click)="$event.stopPropagation()">
                        <mat-checkbox 
                            color="primary" 
                            (change)="emiteStatusDoCheckbox($event)" 
                            [checked]="Selected || processo.checked"
                        >
                        </mat-checkbox>
                    </div>
                </div>
                <div class="flex-none">
                    <div>
                        <h3 class="text-xl font-bold ">
                            {{processo.classe}} {{processo.numero}}
                        </h3>
                    </div>

                </div>
                <div class="flex-1 mt-1 ml-4 mr-24 sm:mr-56 font-semibold text-lg">
                    {{processo.nome}}
                </div>
                <div>
                    <app-status 
                        [idProcesso]="processo.id" (statusSelecionado)="filtrarPorStatus($event)"
                    ></app-status>
                </div>
            </div>
            <div class="mb-4 hidden sm:block">
                <app-tags [tags]="processo.lista" (tagSelecionada)="filtrarPorTags($event)"></app-tags>
            </div>
        </div>
    </mat-expansion-panel-header>
    
    <!--Conteúdo de dentro da área expansível-->
    <div class="container">
        <div class="min-w-full justify-between prose">
            <h2>Capítulos</h2>
            
            <div
                *ngFor="let capitulo of processo.capitulos"
            >
                <h3 class="text-lg">{{capitulo.tipo}}</h3>
                <p>{{capitulo.descricao}}</p>
                <hr/>
            </div>
        </div>
    </div>
</mat-expansion-panel>