<div class="relative flex w-full">
    <fuse-drawer [name]="'leftDrawer'" [opened]="true" [mode]="'side'" id="filtros">
        <!--INSERIR FILTROS AQUI-->
        <digital-filtros></digital-filtros>
    </fuse-drawer>

    <div class="flex-auto p-2 ml-4">
        <button class="mb-2" mat-mini-fab color="primary" aria-label="Abrir ou fechar os filtros" (click)="toggleDrawerOpen('leftDrawer')">
            <mat-icon *ngIf="isOpen('leftDrawer') else mudaIcone" >
                arrow_back
            </mat-icon>
            <ng-template #mudaIcone>
                <mat-icon>arrow_forward</mat-icon>
            </ng-template>
        </button>
        <!--INSERIR A TABELA AQUI-->
        <digital-tabela></digital-tabela>
    </div>
</div>


<app-alerta *ngIf="alerta" [nome]="NOME_DO_ALERTA" [titulo]="alerta.titulo" [mensagem]="alerta.mensagem"
    [aparencia]="'outline'" [tipo]="alerta.tipo" class="absolute top-2 right-2 max-w-120 mx-auto z-40"></app-alerta>