<div class="flex flex-col max-w-240 md:min-w-160 -m-6">
    <header class="flex items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <h1 class="mt-4 flex items-center justify-center text-lg font-medium text-white-500">
            Indicação dos ministros suspeitos e impedidos
        </h1>

        <button mat-button mat-dialog-close class="mat-focus-indicator mat-icon-button mat-button-base" tabindex="-1">
            <span class="mat-button-wrapper">
                <mat-icon matSuffix class="text-white">close</mat-icon>
            </span>
        </button>
    </header>

    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto ng-pristine ng-invalid ng-touched">
            <form>

            <mat-form-field class="w-full mb-4" appearance="outline">
                <mat-label>Informe os ministros suspeitos e impedidos<span class="text-red-500">*</span></mat-label>
                <input matInput type="text">
                <mat-hint>Marque os ministros</mat-hint>
            </mat-form-field>

            <p class="mt-4 text-center flex flex-row gap-4 justify-end items-end">
                <button
                    mat-raised-button 
                    mat-dialog-close
                    class="mr-2"
                >
                    CANCELAR
                </button>

                <button 
                    mat-raised-button 
                    color="primary"
                >
                    SALVAR
                </button>
            </p>
        </form>
    </div>
</div>