<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="sm:items-center sm:justify-between p-3 pb-11 sm:pt-2 sm:pb-10 sm:px-5 bg-default dark:bg-transparent">
        <div>
            <app-filtro></app-filtro>
        </div>
        <div>
            <app-acoes 
                (Allselected)="reciverFeedback($event)"
                (colecaoIdsDasTags)="obterIdsDasTagsSelecionadas($event)"   
            ></app-acoes>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto  overflow-y-auto" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div>
            <app-tabela 
                [Allselected]="SelectAllLines"
            ></app-tabela>
        </div>
    </div>

</div>