<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div>
        <div data-tf-sidetab="cwpkf1HH" data-tf-width="320" data-tf-height="400" data-tf-button-color="#0445AF" data-tf-button-text="Ajude-nos" style="all:unset;"></div><script src="//embed.typeform.com/next/embed.js"></script>
    </div>

    <!-- Header -->
    <div class="sm:items-center sm:justify-between p-3 pb-11 sm:pt-2 sm:pb-10 sm:px-5 bg-default dark:bg-transparent">
        <div>
            <digital-filtro
            [tag]="eventsSubject.asObservable()"
            ></digital-filtro>
        </div>
        <div>
            <digital-acoes
                (allSelected)="reciverFeedback($event)"
                (colecaoIdsDasTags)="obterIdsDasTagsSelecionadas($event)"
            ></digital-acoes>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto  overflow-y-auto px-8 py-4" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div>
            <digital-tabela
                [allSelected]="selectAllLines"
                (tagSelecionada)="filtrarPorTags($event)"
                (statusSelecionado)="filtrarPorStatus($event)"
            ></digital-tabela>
        </div>
    </div>

</div>
