<div class="flex flex-col prose max-h-screen max-w-240 md:min-w-160 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Filtrar</div>
        <button mat-icon-button (click)="fechar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Corpo -->
    <div class="overflow-y-auto">
    <div class="flex flex-col flex-auto p-4">
        <section [formGroup]="form">
            
            <digital-expansion-panel
                [id]="'Relatoria'"
                [label]="'Relatoria'"
                [conteudos]="ministros"
                [hasImage]="true"
                (statusFiltroForm)="atualizaForm($event)"
            ></digital-expansion-panel>

            <digital-expansion-panel
                [id]="'Listas'"
                [label]="'Listas'"
                [conteudos]="lista"
                [Selected]="Selected"
                (statusFiltroForm)="atualizaForm($event)"
            ></digital-expansion-panel>

            <digital-expansion-panel
                [id]="'Temas'"
                [label]="'Temas'"
                [conteudos]="temas"
                [Selected]="Selected"
                (statusFiltroForm)="atualizaForm($event)"
            ></digital-expansion-panel>

            <digital-expansion-panel
                [id]="'Classe Processual'"
                [label]="'Classe Processual'"
                [conteudos]="classes"
                [Selected]="Selected"
                (statusFiltroForm)="atualizaForm($event)"
            ></digital-expansion-panel>
        </section>
    </div>

    <!-- Actions -->
    <div class="flex justify-end p-4">
        <div>
            <button mat-button color="secondary" (click)="fechar()" class="justify-end mr-4">Cancel</button>
            <button mat-raised-button color="primary" (click)="filtrar()" class="justify-end">Filtrar</button>
        </div>
    </div>
    </div>
</div>

<digital-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
