<div class="flex min-w-full content-center items-center ml-3.5">
    <div>
        <mat-form-field hintLabel="Informe um termo para pesquisar ou acesse as opções de filtro"
            class="fuse-mat-rounded">
            <mat-icon matPreffix>search</mat-icon>
            <input matInput (keyup)="filtros.termo = $event.target.value" autofocus
                placeholder="Digite aqui seu filtro...">
            <button mat-icon-button matSuffix (click)="openDialog()">
                <mat-icon matSuffix>filter_alt</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="content-start p-2">
        <mat-chip-list #chipList class="content-center" aria-orientation="vertical">
            <mat-chip *ngFor="let ministro of filtros.relatoria" [removable]="true" (removed)="removeFiltro('relatoria', ministro)">
                {{ ministro.nome }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let lista of filtros.listas" [removable]="true" (removed)="removeFiltro('listas', lista)">
                {{ lista }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let tema of filtros.temas" [removable]="true" (removed)="removeFiltro('temas', tema)">
                {{ tema }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let classe of filtros.classes" [removable]="true" (removed)="removeFiltro('classes', classe)">
                {{ classe }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
