<div class="flex flex-col prose max-w-240 md:min-w-160 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Filtrar</div>
        <button mat-icon-button (click)="fechar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Corpo -->
    <div class="flex flex-col flex-auto px-4 overflow-y-auto">
        <section [formGroup]="form">
            <div class="space-y-3">
                <div class="w-full" *ngIf="filtros.termo">
                    <label>Termo para pesquisa</label>
                    <div>
                        <mat-chip>{{ filtros.termo }}</mat-chip>
                    </div>
                </div>
                <div class="w-full">
                    <label>Selecione o colegiado</label>
                    <div>
                        <mat-checkbox color="primary" appearance="fill" formControlName="primeira_turma">Primeira Turma
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox color="primary" appearance="fill" formControlName="segunda_turma">Segunda Turma
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox color="primary" appearance="fill" formControlName="pleno">Pleno</mat-checkbox>
                    </div>
                </div>
                <div class="flex flex-auto flex-row space-x-4">
                    <mat-form-field class="w-full" color="accent" appearance="fill">
                      <mat-label>Data de inicio</mat-label>
                      <input matInput name="data_inicio" [matDatepicker]="picker1">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 color="primary"></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full" color="accent" appearance="fill">
                      <mat-label>Data de fim</mat-label>
                      <input matInput value="" name="data_fim" [matDatepicker]="picker2">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <label>Tipos</label>
                    <div>
                        <mat-form-field appearance="fill" class="w-full object-top">
                            <mat-select multiple formControlName="tipos" disableOptionCentering>
                                <mat-option *ngFor="let tipo of tiposLista" [value]="tipo">{{tipo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <label>Categorias</label>
                        <div>
                            <mat-form-field appearance="fill" class="w-full object-top" >
                                <mat-select multiple formControlName="categorias" disableOptionCentering>
                                    <mat-option *ngFor="let categoria of categoriasLista" [value]="categoria">
                                        {{categoria}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <label>Modalidades</label>
                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-select multiple formControlName="modalidades" disableOptionCentering>
                                <mat-option *ngFor="let modalidade of modalidadesLista" [value]="modalidade">{{situacao}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- Actions -->
    <div class="flex justify-end p-4">
        <div>
            <button mat-button color="secondary" (click)="fechar()" class="justify-end mr-4">Cancel</button>
            <button mat-raised-button color="primary" (click)="filtrar()" class="justify-end">Filtrar</button>
        </div>
    </div>
</div>
