<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-row justify-center items-center sm:justify-between pl-8 bg-default dark:bg-transparent">
        <h1 class="mt-2 text-primary font-medium">
            Resposta de Solicitação de Sessão de Julgamento Extraordinária MMA
        </h1>
    </div>

    <hr class="m-0 p-0 mb-4" />

    <div class="flex-1 min-w-0 px-8">
        <div class="">
            <fuse-card class="flex">
                <mat-card class="w-full">
                    <p>
                        {{sessao?.secretario.nome}}, presidente {{sessao?.colegiado}},
                        informa que não há possibilidade de agenda para a criação da Sessão
                        de Julgamento Extraordinária para a data solicitada de
                        {{sessao?.data_inicio | date: 'dd/MM/yyyy'}}
                    </p>
                    <mat-card-header class="m-0">
                        <mat-card-title class="text-base">
                            Preencha para recolocar a pauta em outra sessão
                        </mat-card-title>
                    </mat-card-header>

                    <app-pautar-form
                        [sessoes]="sessoes"
                    >
                    </app-pautar-form>

                </mat-card>
            </fuse-card>

            <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-1 sm:mt-1">
                <div mat-dialog-actions class="flex items-center sm:mt-0 ml-auto">
                  <button class="ml-auto sm:ml-0 mr-2" mat-button>
                    <span>Cancelar</span>
                  </button>

                  <button class="ml-auto sm:ml-0 mr-2" mat-button>
                    <span>Cliente</span>
                  </button>

                  <button
                    class="ml-auto"
                    color="primary"
                    mat-raised-button
                    [disabled]="formJulgamento.invalid"
                    (click)="pautarNaSessao()"
                  >
                    Ciente e Pautar na Sessão
                  </button>
                </div>
            </div>

            <h2 class="text-primary">Processos</h2>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-1 overflow-y-auto min-w-0 px-8" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <div>
            <div>
                <app-processo-painel-expansivo
                    *ngFor="let processo of processos"
                    [processo]="processo"
                ></app-processo-painel-expansivo>
            </div>
        </div>
    </div>
</div>
