<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="sm:items-center sm:justify-between p-3 pb-11 sm:pt-2 sm:pb-10 sm:px-5 bg-default dark:bg-transparent">
        <h1 class="mt-4">Resposta de Solicitação de Sessão de Julgamento Extraordinária MMA</h1>
    </div>

    <!-- Main -->
    <div class="flex-auto  overflow-y-auto px-5" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <div>
            <div class="mb-8">
                <p>|Virtual| &nbsp;&nbsp;&nbsp; |Segunda Turma|</p>
            </div>

            <p>
                Ministro Gilmar Mendes, presidente da Primeira Turma, informa
                que não há possibilidade de agenda para a criação da Sessão de 
                Julgamento Extraordinária para a data solicitada de 21/04/2021.
            </p>

            <h2>Processos</h2>
            <div>
                <h3>ADC 700 - Mérito</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quae quibusdam delectus alias? Eaque accusantium esse placeat eum 
                    reprehenderit! Ut dolor odio aut neque? Enim necessitatibus 
                    reprehenderit suscipit saepe facere neque!
                </p>
            </div>

            <div>
                <h3>ADI 6524 - Mérito</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quae quibusdam delectus alias? Eaque accusantium esse placeat eum 
                    reprehenderit! Ut dolor odio aut neque? Enim necessitatibus 
                    reprehenderit suscipit saepe facere neque!
                </p>
            </div>

            <div>
                <h2>Preencha para recolocar a pauta em outra sessão</h2>
                <p>Ano: 2020</p>
                <p>Mês: Novembro</p>
                <p>Sessão: 89/2020 - Qui 28/11 a Sex 04/12</p>
            </div>
        </div>

        <div>
            <button>Cancelar</button>
            <button>Ciente</button>
            <button>Ciente e Pautar na Sessão</button>
        </div>
    </div>

</div>