<!-- CONTENT GOES HERE -->
<fuse-card class="flex flex-col w-full filter-post filter-interactive my-2" *ngFor="let publicacao of publicacoes">
    <fuse-card class="flex flex-col w-full filter-post filter-interactive" style="box-shadow: none; border-radius: 0px;" #expandableCard02="fuseCard">
        <div class="flex items-center mx-6 sm:mx-8 mt-6 ">
            <img class="w-12 h-12 rounded-full mr-4" [src]="getImagemMinistro(publicacao.relator)" >
            <div class="flex flex-col">
                <span class="font-semibold leading-none">{{publicacao.relator}}</span>
                <span class="text-sm text-secondary leading-none mt-1">{{getData(publicacao.publicacao)}}</span>
            </div>
            <div class="flex flex-col ml-5">
                <span class="font-semibold leading-none text-primary-500 text-2xl">{{publicacao.processo}}</span>
                <span class="text-sm text-secondary leading-none mt-1">{{publicacao.tipo}}</span>
            </div>
            <div class="flex flex-row flex-wrap-reverse ml-auto -mr-4">
                <button class="mr-8 md:mr-0 ml-auto" mat-button (click)="expandableCard02.expanded = !expandableCard02.expanded">
                    <span class="mr-1">Partes</span>
                    <mat-icon class="icon-size-5 transform transition-transform ease-in-out duration-150 rotate-0"
                        [ngClass]="{'rotate-180': expandableCard02.expanded}" [svgIcon]="'heroicons_solid:chevron-down'">
                    </mat-icon>
                </button>
                <button class="hidden md:block nml-auto" mat-button [routerLink]="['./']">
                    <mat-icon class="mr-2" style="color:red">picture_as_pdf</mat-icon>
                    <span>Baixar</span>
                </button>
                <button 
                    class="md:hidden bg-red-500 absolute right-4 top-4 icon-size-8"
                    mat-icon-button
                >
                    <mat-icon class="text-current text-white">picture_as_pdf</mat-icon>
                </button> 
            </div>
        </div>
    
        <ng-container fuseCardExpansion>
            <hr class="border-b mx-4 sm:mx-8 my-0 mt-4">
            <div class="flex-1 mx-8 grid grid-cols-1 md:grid-cols-2">
                <div class="mr-4 my-2">
                    <div *ngFor="let left of envolvidosLeft(publicacao.envolvidos)" class="border-l-2 border-accent-300 pl-2">
                        <span class="text-accent-500">{{left.categoria}}</span> {{left.nome}}
                        <div *ngFor="let identificacao of left.identificacoes" 
                            class="text-sm ml-4 mr-8 italic text-accent-500 mb-2 truncate"
                            [aria-label]="identificacao">
                                {{"| "+identificacao}}
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <div *ngFor="let right of envolvidosRight(publicacao.envolvidos)" class="border-l-2 border-accent-300 pl-2">
                        <span class="text-accent-500">{{right.categoria}}</span> {{right.nome}}
                        <div *ngFor="let identificacao of right.identificacoes" 
                            class="text-sm ml-4 italic text-accent-500 mb-2 truncate"
                            [aria-label]="identificacao">
                                {{"| "+identificacao}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </fuse-card>
    

    <!--Texto da Decisão-->
    <div [innerHtml]="publicacao.texto" class="mx-6 my-4 sm:mx-8 justify-center"></div>

</fuse-card>