<!-- CONTENT GOES HERE -->
<fuse-card class="flex flex-col w-full filter-post filter-interactive my-2" style="border-radius: 0px;" *ngFor="let publicacao of publicacoes">
        <div class="flex items-center bg-primary text-white">
            <div class="flex flex-col w-1/12 min-w-22 h-20 bg-primary-800 justify-center items-center font-bold">
                <span class="text-4xl">
                    <mat-icon style="color: white;">calendar_today</mat-icon>
                    {{getData(publicacao.publicacao, true) | slice:0:2}}
                </span>
                <span class="text-xl mt-2">{{getData(publicacao.publicacao, true) | slice:3:11}}</span>
            </div>
            <div class="flex flex-col ml-4 gap-2">
                <span class="font-semibold leading-none text-2xl">{{publicacao.processo}}</span>
                <span>Relatoria: <span class="font-semibold leading-none">{{publicacao.relator | uppercase}}</span></span>
            </div>
            <div class="hidden sm:flex ml-auto -mr-4">
                <button class="nml-auto text-black bg-white mr-8 border-solid border-2 border-primary-800" mat-button [routerLink]="['./']">
                    <mat-icon class="mr-2" style="color:red">picture_as_pdf</mat-icon>
                    <span>Baixar PDF</span>
                </button>
            </div>
            <div class="sm:hidden ml-auto -mr-4">
                <button class="nml-auto bg-white mr-8 border-solid border-2 border-primary-800 rounded-full" mat-button [routerLink]="['./']">
                    <mat-icon class="-mx-4" style="color:red">picture_as_pdf</mat-icon>
                </button>
            </div>
        </div>
    
        <div class="flex-1 mx-8 grid grid-cols-1 md:grid-cols-2 border-solid border-b-2">
            <div class="mr-4 my-2">
                <div *ngFor="let left of envolvidosLeft(publicacao.envolvidos)" class="flex flex-row flex-wrap">
                    <span class="text-accent-500 mr-1">{{left.categoria}}</span> <span class="font-medium">{{left.nome}}</span>
                    <div *ngFor="let identificacao of left.identificacoes" 
                        class="ml-2 mr-8 text-accent-500 mb-2 truncate"
                        [aria-label]="identificacao">
                            {{"| "+identificacao}}
                    </div>
                </div>
            </div>
            <div class="my-2">
                <div *ngFor="let right of envolvidosRight(publicacao.envolvidos)" class="flex flex-row flex-wrap">
                    <span class="text-accent-500 mr-1">{{right.categoria}}</span> <span class="font-medium">{{right.nome}}</span>
                    <div *ngFor="let identificacao of right.identificacoes" 
                        class="ml-2 text-accent-500 mb-2 truncate"
                        [aria-label]="identificacao">
                            {{"| "+identificacao}}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-wrap ml-auto pl-8 mr-8 mt-2">
            <div class="flex-none mr-4">Divulgado em: <span class="font-medium">{{getData(publicacao.divulgacao)}}</span></div>
            <div class="flex-none">Publicado em: <span class="font-medium">{{getData(publicacao.publicacao) | slice:0:11}}</span></div>
        </div>
        <div class="ml-8 my-4 text-3xl font-semibold">
            {{publicacao.tipo | uppercase}}
        </div>

    <!--Texto da Decisão-->
    <div [innerHtml]="publicacao.texto" class="mx-6 my-4 sm:mx-8"></div>

</fuse-card>