<div class="flex flex-col max-w-240 md:min-w-160 -m-6 mb-4">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
      <div class="text-lg font-medium">
        {{label}}
      </div>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="whitespace-pre-line mb-2">
      <h4 class="font-medium mb-0">Tipo:</h4>
      {{tipo}}
    </div>
    <div class="whitespace-pre-line mb-2">
      <h4 class="font-medium mb-0">Relacionamento:</h4>
      {{relacionamento}}
    </div>
    <div class="whitespace-pre-line mb-2">
      <h4 class="font-medium mb-0">Descrição:</h4>
      {{descricao}}
    </div>
    <div class="whitespace-pre-line mb-2">
      <h4 class="font-medium mb-0">Observação:</h4>
      {{observacao}}
    </div>
  </div>
  
  <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
    <div mat-dialog-actions class="flex items-center mt-4 sm:mt-0 ml-auto">
      <button class="ml-auto mr-2 sm:ml-0" mat-button mat-dialog-close>
        <span>Ok</span>
      </button>
    </div>
  </div>
  