<div class="flex flex-col my-4 space-y-4">
    <div
      class="flex flex-col items-center text-xs sm:text-base"
      *ngFor="let capituloPublicacao of capitulosPublicacao"
    >
        <div class="w-full md:w-9/12">
            <div class="flex flex-row text-white">
                <div *ngIf="form?.dataPublicacao" class="flex flex-col bg-blue-900 p-2 items-center space-x-2">
                    <div class="flex flex-row">
                        <mat-icon class="hidden sm:block text-current" [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <span class="text-base sm:text-4xl font-medium">{{ form?.dataPublicacao | date: 'dd'}}</span>
                    </div>
                    <span>{{ form?.dataPublicacao | date: 'MMM/yyyy':'':'pt-BR'}}</span>
                </div>
                <div class="flex flex-col bg-primary p-2 w-full">
                    <div>
                        <span class="text-base sm:text-2xl">
                            {{ capituloPublicacao?.classe_extenso }} {{ addPontoNumero(capituloPublicacao?.numero) }}
                        </span>
                    </div>
                    <div>
                        <span>
                            ({{ capituloPublicacao?.classe }} {{ capituloPublicacao?.numero }}) Relatoria
                        </span>
                        <span class="font-medium">
                            Ministr{{ capituloPublicacao?.relator?.genero == 'Masculino' ? 'o': 'a' }}
                            {{ capituloPublicacao?.relator?.nome }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white dar:bg-gray-800 pb-4">
                <div class="mx-2 sm:mx-4 -my-4 sm:-my-2">
                    <hr><div class="flex flex-col sm:flex-row -my-4 sm:-my-2 justify-between">
                        <span>
                            REQUERENTE(S):
                            <span class="font-medium" *ngFor="let requerente of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'REQUERENTE')">
                                {{ requerente.nome }}
                            </span><br>
                            <span *ngFor="let advogado of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'ADVOGAD', 'REQUERENTE')">
                                {{ advogado.categoria }}:
                                <span class="font-medium">{{ advogado.nome }} | {{ advogado.identificacoes.join(' | ') }} |</span><br>
                            </span><br class="mb-2 sm:my-0">
                        </span>
                        <span>
                            RECORRIDO(A/S):
                            <span class="font-medium" *ngFor="let envolvido of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'RECORRID')">
                                {{ envolvido.nome}}
                            </span><br>
                            <span *ngFor="let advogado of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'ADVOGAD', 'RECORRID')">
                                {{ advogado.categoria }}:
                                <span class="font-medium">{{ advogado.nome }} | {{ advogado.identificacoes.join(' | ') }} |</span><br>
                            </span>
                        </span>
                    </div><hr>
                </div>
                <div class="text-center">
                    <h1>Extrato da Ata</h1>
                    <h2>
                        Sessão {{ sessao?.tipo }} {{ sessao?.numero }}/{{ sessao?.ano }} de {{ sessao?.colegiado }}
                        {{ sessao?.data_fim | date: "dd.mm.yyyy" }} por {{ sessao?.modalidade }}
                    </h2>
                </div>
                <div class="w-full" *ngFor="let capitulo of capituloPublicacao?.capitulos">
                    <div class="ml-4 sm:ml-8 md:ml-16 mr-4">
                        <div
                          [class]="'bg-sentido-'+capitulo.dispositivo.sentido"
                          class="rounded-full px-2 text-white mb-4 inline-block"
                        >
                            {{ capitulo?.dispositivo.nome }}
                        </div>
                        <div [innerHtml]="capitulo?.texto"></div><br>
                        <div [innerHtml]="fraseEMinistros(capitulo?.ministros_divergem, FraseVencidos)"></div>
                    </div>
                    <br class="mb-2">
                </div>
                <div
                  class="ml-4 sm:ml-8 md:ml-16"
                  *ngIf="sessao?.ministros_presentes"
                  [innerHtml]="fraseEMinistros(sessao?.ministros_presentes, FrasePresentes)"
                ></div>
                <footer class="text-center mt-4">
                    <span *ngIf="form">
                        Brasília, {{ form?.dataPublicacao | date: 'dd' }} de
                        {{ form?.dataPublicacao | date: 'MMMM':'':'pt-PT' }} de
                        {{ form?.dataPublicacao | date: 'YYYY' }}
                    </span><br>
                    {{ sessao?.secretario.nome }}<br>
                    Assessor(a) Chefe do Plenário
                </footer>
            </div>
        </div>
    </div>
</div>
