<div class="flex flex-col my-4 space-y-4">
    <div
      class="flex flex-col items-center text-xs sm:text-base"
      *ngFor="let capituloPublicacao of capitulosPublicacao"
    >
        <div class="w-full md:w-9/12">
            <div class="flex flex-row text-white">
                <div *ngIf="form?.dataPublicacao" class="flex flex-col bg-blue-900 p-2 items-center space-x-2">
                    <div class="flex flex-row">
                        <mat-icon class="hidden sm:block text-current" [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <span class="text-base sm:text-4xl font-medium">{{ form?.dataPublicacao | date: 'dd'}}</span>
                    </div>
                    <span>{{ form?.dataPublicacao | date: 'MMM/yyyy':'':'pt-BR'}}</span>
                </div>
                <div class="flex flex-col bg-primary p-2 w-full">
                    <span class="text-base sm:text-2xl">
                        {{ capituloPublicacao?.classe }} {{ capituloPublicacao?.numero }} {{ capituloPublicacao?.cadeia}}
                    </span>
                    <div>
                        <span>
                            {{ capituloPublicacao?.classe_extenso }} {{ addPontoNumero(capituloPublicacao?.numero) }}
                            {{ capituloPublicacao?.cadeia_extenso }}
                        </span>
                        <span class="font-medium">
                            Relatoria Ministr{{ capituloPublicacao?.relator?.genero == 'Masculino' ? 'o': 'a' }}
                            {{ capituloPublicacao?.relator?.nome }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white dar:bg-gray-800 pb-4">
                <div class="mx-2 sm:mx-4 -my-4 sm:-my-2">
                    <hr><div class="flex flex-col sm:flex-row -my-4 sm:-my-2 justify-between space-x-0 sm:space-x-4">
                        <span>
                            REQUERENTE(S):
                            <span class="font-medium" *ngFor="let requerente of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'REQUERENTE')">
                                {{ requerente.nome }}
                            </span><br>
                            <span *ngFor="let advogado of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'ADVOGAD', 'ATIVO')">
                                {{ advogado.categoria }}:
                                <span class="font-medium">{{ advogado.nome }} | {{ advogado.identificacoes.join(' | ') }} |</span><br>
                            </span><br class="mb-2 sm:my-0">
                        </span>
                        <span>
                            RECORRIDO(A/S):
                            <span class="font-medium" *ngFor="let envolvido of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'RECORRID')">
                                {{ envolvido.nome}}
                            </span><br>
                            <span *ngFor="let advogado of filtraEnvolvidos(capituloPublicacao?.envolvidos, 'ADVOGAD', 'PASSIVO')">
                                {{ advogado.categoria }}:
                                <span class="font-medium">{{ advogado.nome }} | {{ advogado.identificacoes.join(' | ') }} |</span><br>
                            </span>
                        </span>
                    </div><hr>
                </div>
                <div class="text-center mx-4">
                    <h1>Extrato da Ata</h1>
                    <h3 class="font-medium">
                        Sessão {{ sessao?.modalidade}} {{ sessao?.tipo }} {{ sessao?.numero }}/{{ sessao?.ano }} realizada {{
                          (sessao?.data_inicio | date: "dd/mm/yyyy") == (sessao?.data_fim | date: "dd/mm/yyyy")?
                            'no dia ' + (sessao?.data_fim | date: "longDate"):
                            'entre os dias ' + (sessao?.data_inicio | date: "longDate") + ' e ' + (sessao?.data_fim | date: "longDate")
                        }}
                    </h3>
                </div>
                <div class="ml-4 sm:ml-8 md:ml-16 mr-4">
                    {{ ata?.cabecalho }} <br class="mb-8">
                    <div *ngFor="let capitulo of capituloPublicacao?.capitulos">
                        <div>
                            <div [class]="'bg-sentido-'+capitulo.dispositivo.sentido+' rounded-full px-2 text-white mb-4 mr-2 inline-block'">
                                {{ capitulo.dispositivo.nome }}
                            </div>
                            <div [innerHtml]="capitulo?.texto + '<br>' +
                                              fraseEMinistros(capitulo?.ministros_acordam, FraseAcompanham)+
                                              fraseEMinistros(capitulo?.ministros_divergem, FraseDivergem)
                            "></div>
                        </div>
                        <br class="mb-2">
                    </div>
                    <div [innerHtml]="
                      fraseEMinistros(sessao?.ministros_presentes, FrasePresentes) +
                      (ata?.outros_presentes ? 'Também estavam presentes na Sessão ' + ata?.outros_presentes: '') +
                      fraseEMinistros(sessao?.ministros_ausentes, FraseAusentes)
                    "></div>
                    <div class="mt-2">
                      <span *ngFor="let vista of capituloPublicacao?.vistas">{{ vista.texto }}<br></span>
                      <span *ngFor="let destaque of capituloPublicacao?.destaques">{{ destaque.texto }}<br></span>
                    </div>
                </div>
                <footer class="text-center mt-4">
                    <span *ngIf="form">
                        Brasília, {{ form?.dataPublicacao | date: 'longDate' }}
                    </span><br>
                    {{ sessao?.secretario.nome }}<br>
                    Assessor(a) Chefe do Plenário
                </footer>
            </div>
        </div>
    </div>
</div>
