<form [formGroup]="formFinalizarSessao">
    <mat-form-field appearance="fill" class="w-full">
        <mat-label class="font-medium">Secretário da Sessão</mat-label>
        <input matInput name="outros" [ngModel]="secretario" formControlName="secretario" (input)="emitirForm()">
        <mat-hint>Informe o secretario da sessão.</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-full mt-8">
        <mat-label class="font-medium">Outros presentes</mat-label>
        <input matInput name="outros" [ngModel]="outrosPresentes" formControlName="outrosPresentes" (input)="emitirForm()">
        <mat-hint>Informe o nome de outros presentes caso existam. O texto será gravado e apresentado da forma que foi escrito.</mat-hint>
    </mat-form-field>

    <mat-divider class="mb-8 mt-4 -mx-4"></mat-divider>
    <span class="text-2xl font-medium text-primary mt-8">Texto de Abertura</span>

    <mat-form-field appearance="outline" class="w-full mt-4">
        <mat-label class="font-medium">Digite o cabeçalho ou informações complementares</mat-label>
        <textarea matInput rows="10" name="cabecalho" [ngModel]="cabecalho" formControlName="cabecalho" (input)="emitirForm()"></textarea>
    </mat-form-field>

</form>

<app-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>
