<mat-expansion-panel 
                class="my-4"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header 
                    [collapsedHeight]="'40px'" 
                    class="p-4 h-15"
                >
                    <div class="flex flex-none flex-row my-auto ml-3 w-screen container mt-4">
                        <h2 class="font-medium">
                            {{label}}
                        </h2>
                    </div>
                </mat-expansion-panel-header>

                <!--Conteúdo de dentro da área expansível-->
                <div class="container">
                    <div class="flex flex-col min-w-full justify-between" *ngFor="let conteudo of conteudos">
                        <div *ngIf="!hasImage">
                            <mat-checkbox
                                color="primary" 
                                [checked]="Selected"
                            >
                            </mat-checkbox>
                            {{conteudo}}
                        </div>
                        <div *ngIf="hasImage">
                            <img
                                [src]="conteudo?.imagem"
                                alt="Imagem de perfil"
                                class="w-14 h-14 mr-6 rounded-full object-cover"
                            >
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>