<div class="flex flex-col">
    <div class="mt-2">
        <h3 class="font-medium">Filtre por</h3>
        <div class="flex flex-auto flex-col sm:flex-row space-x-0 sm:space-x-4 mr-1 -mt-8">
            <mat-radio-group
                color="primary"
                class="flex flex-col my-4 w-2/4"
                [(ngModel)]="colegiadoEscolhido"
                (change)=" setSessao(); emiteObjeto()"
            >
                <mat-label class="font-medium mb-2">Colegiado</mat-label>
                <mat-radio-button class="mb-1" *ngFor="let colegiado of colegiados" [value]="colegiado.viewValue">{{colegiado.viewValue}}</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group
                color="primary"
                class="flex flex-col my-4 w-2/4"
                [(ngModel)]="modalidadeEscolhida"
                (change)=" setSessao(); emiteObjeto()"
            >
                <mat-label class="font-medium mb-2">Modalidade</mat-label>
                <mat-radio-button class="mb-1" *ngFor="let modalidade of modalidades" [value]="modalidade.value">{{modalidade.value}}</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="w-full my-4" appearance="fill">
                <mat-label class="font-medium mb-2">Período</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Data de início" name="data_inicio" [(ngModel)]="data_inicio" (dateChange)="emiteObjeto()">
                    <input matEndDate placeholder="Data do fim" name="data_fim" [(ngModel)]="data_fim" (dateChange)="emiteObjeto()">
                </mat-date-range-input>

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <mat-divider role="separator" class="mb-4"></mat-divider>

        <div class="w-full">
            <h3 class="font-medium">Escolha uma Sessão para Pautar o(s) processo(s)</h3>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label class="font-medium">SESSÃO</mat-label>
                <mat-select [(ngModel)]="sessao" placeholder="Escolha uma sessão" required (selectionChange)="emiteObjeto()">
                    <mat-option
                        *ngFor="let sessaoJulgamento of (sessoes | filtroSessoes: this.colegiadoEscolhido : this.modalidadeEscolhida: this.data_inicio : this.data_fim )"
                        [value]="sessaoJulgamento.numero"
                        class="text-primary w-auto"
                    >
                        Sessão {{sessaoJulgamento.modalidade}}, <b>{{sessaoJulgamento.colegiado}}</b>, nº {{sessaoJulgamento.numero}}/{{sessaoJulgamento.ano}} de {{sessaoJulgamento.data_inicio | date:'dd/MM/yyyy'}} a {{sessaoJulgamento.data_fim  | date:'dd/MM/yyyy'}}
                    </mat-option>
                </mat-select>
                <mat-error class="mb-1" *ngIf="'sessao.errors?.required'">
                    A sessão é obrigatória
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>


