<div
    class="flex flex-col items-center mx-auto m-0 p-0 mt-2 justify-center"
>
    <div class="text-center">
        <h2 class="leading-tight text-primary my-0">
            Sessão {{ sessao?.modalidade | lowercase }} {{ sessao?.numero }}/{{ sessao?.ano }}
        </h2>
        <p class="text-hint my-0">
            {{sessao.colegiado}}
        </p>
        <p class="text-hint my-0">
            Finalizada dia {{sessao?.data_fim | date: 'dd/MM/yyyy'}}
        </p>

        <mat-chip
            *ngIf="isExibirStatus"
            class="bg-yellow-400 text-black"
        >
            {{sessao?.situacao | uppercase}}
        </mat-chip>
    </div>
</div>

