/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
$accent:#2B98F0;
$stf-dark:#1170A6;
$stf-light:#1BA9E1;
$button-primary:#1270A6;
$dark-text:#2D323E;
$light-text:#757575;
$lighter-text:#DADADA;

$title: bold 1.429em 'Mulish', sans-serif;
$subtitle-1: normal 1em 'Mulish', sans-serif;
$subtitle-2: bold 12px 'Mulish', sans-serif;
$subtitle-3: italic bold 1em 'Source Sans Pro', sans-serif;
$body-1: normal 1em 'Roboto', sans-serif;
$body-2: bold 1em 'Roboto', sans-serif;
$caption-1: 600 0.571em 'Source Sans Pro', sans-serif;
$caption-2: 12px 'Roboto', sans-serif;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 600px) {
  .mat-paginator .mat-paginator-container {
      justify-content: flex-end !important;
  }
}
