/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
$accent:#2B98F0;
$stf-dark:#1170A6;
$stf-light:#1BA9E1;
$button-primary:#1270A6;
$dark-text:#2D323E;
$light-text:#757575;
$lighter-text:#DADADA;
