<div class="flex lg:justify-start">
    <div class="flex flex-row flex-wrap lg:max-w-3/4">
        <div class="flex flex-nowrap flex-row">
            <img [src]="relator?.imagem" alt="Imagem de perfil"
                class="w-14 h-14 mr-6 mb-4 rounded-full ng-tns-c129-57 ng-star-inserted">
            <div class="flex flex-col flex-none mr-14 ng-tns-c129-56 ng-star-inserted">
                <div class="text-2xl font-medium leading-4">
                    {{relator?.nome | titlecase}}
                </div>
                <div class="text-md font-medium leading-4">
                    {{relator?.abreviacao | uppercase}}
                </div>
                <div class="text-md text-secondary mt-1">
                    Relator
                </div>
            </div>
        </div>
        <div>
            <div class="flex-1 ml-2 text-2xl font-medium leading-4 text-primary">
                {{processo}}
            </div>
            <div class="hidden md:block">
                <app-carrossel 
                    [idChip]="'idTags'"
                    [chips]="tags"
                ></app-carrossel>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-row">   
    <div class="hidden md:block max-w-full">
        <app-carrossel
            [idChip]="'idDocs'"
            [chips]="documentos?.nomes"
            [links]="documentos?.links"
            [hasIcon]="true"
            [class]="['border-primary', 'border-solid', 'border-2', 'bg-transparent', 'text-primary']"
            (linkDoPdfSelecionado)="abrirLink($event)"
        ></app-carrossel>
    </div>
</div>

<mat-expansion-panel 
    class="md:hidden my-4"
    (opened)="panelOpenState = true" 
    (closed)="panelOpenState = false"
>
    <mat-expansion-panel-header 
        [collapsedHeight]="'40px'" 
        class="p-4 h-15"
    >
        <div class="flex flex-none flex-row my-auto ml-3 w-screen container mt-4">
            <h2 class="font-medium">
                Documentos e tags
            </h2>
        </div>
    </mat-expansion-panel-header>

    <!--Conteúdo de dentro da área expansível-->
    <div class="container">
        <div class="flex flex-col min-w-full justify-between">
            <app-carrossel 
                [idChip]="'idTagsExp'"
                [chips]="tags"
                [class]="['text-xs sm:text-md']"
            ></app-carrossel>
            <app-carrossel 
                [idChip]="'idDocExp'"
                [chips]="documentos?.nomes"
                [links]="documentos?.links"
                [hasIcon]="true"
                [class]="['flex-none', 'border-primary', 'border-solid', 'border-2', 'bg-transparent', 'text-primary']"
                (linkDoPdfSelecionado)="abrirLink($event)"
            ></app-carrossel>
        </div>
    </div>
</mat-expansion-panel>

<app-visualizador-pdf
    *ngIf="link"
    [nome]="'visualizador-pdf-do-colegiado'"
    [link]="link"
    [ministrosQueAcompanharam]="ministros"
></app-visualizador-pdf>