<div class="flex flex-col lg:flex-row lg:justify-start">
    <div class="absolute right-4 lg:right-16 flex flex-col items-end">
        <div class="text-base sm:text-xl text-primary font-medium">
            SESSÃO {{sessao}}
        </div>
        <div class="text-xs sm:text-base text-secondary">
            Finalizada dia {{data_fim | date:'dd/mm/yyyy'}}
        </div>
    </div>
    <div class="flex flex-wrap lg:max-w-3/5">
        <div class="flex flex-nowrap flex-row">
            <img [src]="relator?.imagem" alt="Imagem de perfil"
                class="w-14 h-14 mr-6 mb-4 rounded-full ng-tns-c129-57 ng-star-inserted">
            <div class="flex flex-col flex-none mr-14 ng-tns-c129-56 ng-star-inserted">
                <div class="text-base sm:text-lg font-medium text-primary leading-tight">
                    {{relator?.nome | titlecase}}
                </div>
                <div class="text-xs sm:text-base leading-tight font-bold">
                    {{relator?.abreviacao | uppercase}}
                </div>
                <div class="text-xs sm:text-base text-secondary mt-2">
                    Relator
                </div>
            </div>
        </div>

        <div class="hidden md:block flex flex-1 flex-col min-w-20 overflow-x-auto">
            <div class="flex-1 ml-2 text-xl">
                {{obterTipoDoProcesso()}}
            </div>

            <div class="mt-5">
                <app-carrossel
                    [idChip]="'idTags'"
                    [chips]="tags"
                ></app-carrossel>
            </div>
        </div>
    </div>
    <div class="hidden md:block lg:ml-4 lg:mt-8">
        <app-carrossel
            [idChip]="'idDocs'"
            [chips]="documentos?.nomes"
            [links]="documentos?.links"
            [hasIcon]="true"
            [class]="['border-primary', 'border-solid', 'border-2', 'bg-transparent', 'text-primary']"
            (linkDoPdfSelecionado)="abrirLink($event)"
        ></app-carrossel>
    </div>
</div>

<mat-expansion-panel
    class="md:hidden w-2/3 xs:w-full my-4"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
>
    <mat-expansion-panel-header
        [collapsedHeight]="'40px'"
        class="p-4 h-15"
    >
        <div class="flex flex-none my-auto ml-2 pt-4">
            <h2 class="font-medium">
                Documentos e tags
            </h2>
        </div>
    </mat-expansion-panel-header>

    <!--Conteúdo de dentro da área expansível-->
    <div class="container">
        <div class="flex flex-col max-w-full justify-between">
            <app-carrossel
                [idChip]="'idTagsExp'"
                [chips]="tags"
            ></app-carrossel>
            <app-carrossel
                [idChip]="'idDocExp'"
                [chips]="documentos?.nomes"
                [links]="documentos?.links"
                [hasIcon]="true"
                [class]="['flex-none', 'border-primary', 'border-solid', 'border-2', 'bg-transparent', 'text-primary']"
                (linkDoPdfSelecionado)="abrirLink($event)"
            ></app-carrossel>
        </div>
    </div>
</mat-expansion-panel>

<app-visualizador-pdf
    *ngIf="link"
    [nome]="'visualizador-pdf-do-colegiado'"
    [link]="link"
></app-visualizador-pdf>
