<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full overflow-y-auto">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
                color="primary"
            ></mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
                color="primary"
            ></mat-checkbox>
        </td>
    </ng-container>

    <!-- Descrição Column -->
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">
            <div
                class="flex flex-row gap-4 justify-start items-center
                    py-4"
            >
                <img
                    class="w-8 h-8"
                    [src]="'/assets/icons/account_circle_gray_24dp.svg'"
                    [alt]="element.title"
                >

                <div class="flex flex-col gap-y-4">
                    <strong class="text-primary-600">
                        {{element.command}}
                    </strong>

                    <app-carrossel-chips
                        [chips]="element.etags"
                    ></app-carrossel-chips>
                </div>
            </div>
        </td>
    </ng-container>

    <!-- Responsavel Column -->
    <ng-container matColumnDef="responsavel">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Responsável</th>
        <td class="text-center text-primary-400" mat-cell *matCellDef="let element">
            {{element.assignee || 'Sem Responsável'}} <br/>
            Grupo: {{element.assigneeGroup}}
        </td>
    </ng-container>

    <!-- data_criacao Column -->
    <ng-container matColumnDef="data_criacao">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Data de Criação</th>
        <td class="text-center" mat-cell *matCellDef="let element">
            <strong>
                {{element.startDate | date: 'dd/MM/yyyy'}} <br/>
                {{element.startDate | date: 'HH:mm'}}
            </strong>
        </td>
    </ng-container>

    <!-- opcoes Column -->
    <ng-container matColumnDef="opcoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-raised-button color="primary" class="">
                ASSUMIR
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
