<div class="relative mat-elevation-z8">
    <div
        class="absolute top-0 left-0 right-0 bottom-14 bg-gray-200 
                 z-10 flex items-center justify-center"
        *ngIf="isLoadingResults || isRateLimitReached"
    >
        <mat-spinner
            *ngIf="isLoadingResults"
            class="mt-12 z-10"
            color="primary"
        ></mat-spinner>

        <div
            class="max-w-90 text-center"
            *ngIf="isRateLimitReached"
        >
            Aguarde alguns segundos...
        </div>
    </div>

    <div class="relative min-h-50 overflow-auto">
        <table
            mat-table
            multiTemplateDataRows
            [dataSource]="dataSource"
            class="mat-elevation-z8 w-full overflow-y-auto"
        >
            <!-- Checkbox Column -->
            <ng-container class="" matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary"
                        class="mr-2"
                    ></mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        color="primary"
                    ></mat-checkbox>
                </td>
            </ng-container>

            <!-- Descrição Column -->
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef>Descrição</th>
                <td mat-cell *matCellDef="let element">
                    <div
                        class="flex flex-row gap-4 justify-start items-center
                            py-4"
                    >
                        <img
                            class="w-8 h-8 hidden sm:block"
                            [src]="'/assets/icons/account_circle_gray_24dp.svg'"
                            [alt]="element.title"
                            [matTooltip]="element.assignee | slice: 0 : 3 | uppercase"
                        >

                        <div class="flex flex-col gap-y-4">
                            <strong class="flex items-center gap-x-4 
                                    text-primary-600 text-sm sm:text-lg"
                            >
                                {{element.title}}

                                <mat-icon 
                                    class="mx-2"
                                    [matTooltip]="element.notes" 
                                    [ngClass]="{'text-green-600': element.notes}"   
                                >
                                    add_comment
                                </mat-icon>
                            </strong>

                            <app-carrossel-chips
                                *ngIf="element.etags"
                                [chips]="element.etags"
                            ></app-carrossel-chips>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Responsavel Column -->
            <ng-container matColumnDef="responsavel">
                <th class="text-center" [ngClass]="{'hidden': isTelaPequena()}" mat-header-cell *matHeaderCellDef>Responsável</th>
                <td class="text-center text-primary-400" [ngClass]="{'hidden': isTelaPequena()}" mat-cell *matCellDef="let element">
                    {{element.assignee || 'Sem Responsável'}} <br/>
                    {{element.assigneeGroup ? 'Grupo: ' + element.assigneeGroup : 'Sem Grupo'}}
                </td>
            </ng-container>

            <!-- data_criacao Column -->
            <ng-container matColumnDef="data_criacao">
                <th class="text-center" [ngClass]="{'hidden': isTelaPequena()}" mat-header-cell *matHeaderCellDef>Data de Criação</th>
                <td class="text-center" [ngClass]="{'hidden': isTelaPequena()}" mat-cell *matCellDef="let element">
                    <strong>
                        {{element.startDate | date: 'dd/MM/yyyy'}} <br/>
                        {{element.startDate | date: 'HH:mm'}}
                    </strong>
                </td>
            </ng-container>

            <!-- assumir Column -->
            <ng-container matColumnDef="assumir">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button 
                        mat-stroked-button 
                        color="primary" 
                        class="hidden sm:block min-w-10 min-h-7 h-7 px-2 
                            leading-6 bg-primary-500 text-white
                            mat-button-base"
                    >
                        ASSUMIR
                    </button>

                    <div class="sm:hidden">
                        <button 
                            mat-button 
                            [matMenuTriggerFor]="menu"
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>ASSUMIR</button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <!-- expandir Column -->
            <ng-container matColumnDef="expandir">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button 
                        mat-stroked-button 
                        class="mx-2 mat-focus-indicator min-w-10 min-h-7 h-7 px-2 
                            leading-6 ng-tns-c233-219 mat-stroked-button 
                            mat-button-base"
                        [disabled]="!element?.extraInfo && !element?.notes"
                        (click)="expandedElement = expandedElement === element ? null : element;"
                    >
                        <mat-icon 
                            *ngIf="!(expandedElement?.id === element.id); else arrowUp"
                            role="img" 
                            class="notranslate icon-size-5 mat-icon-no-color"
                            aria-hidden="true" 
                            data-mat-icon-type="svg" 
                            [data-mat-icon-name]="'chevron-down'"
                            data-mat-icon-namespace="heroicons_solid"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" focusable="false">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </mat-icon>

                        <ng-template #arrowUp>
                            <mat-icon 
                                role="img" 
                                class="notranslate icon-size-5 mat-icon-no-color" 
                                aria-hidden="true" 
                                data-mat-icon-type="svg" 
                                data-mat-icon-name="chevron-up" 
                                data-mat-icon-namespace="heroicons_solid"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </mat-icon>
                        </ng-template>
                    </button>
                </td>
            </ng-container>

            <!-- prioridade Column -->
            <ng-container matColumnDef="prioridade">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="p-0" mat-cell *matCellDef="let element">
                    <div
                        *ngIf="element.priority; else noPriority"
                        class="w-2 h-22 rounded-md bg-green-700 ml-auto"
                    ></div>

                    <ng-template
                        #noPriority
                    >
                        <div
                            class="w-2 h-22 rounded-md bg-yellow-400 ml-auto"
                        ></div>
                    </ng-template>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container class="" matColumnDef="expandedDetail">
                <td 
                    mat-cell 
                    *matCellDef="let element" 
                    [attr.colspan]="displayedColumns.length"
                >
                    <div 
                        class="overflow-hidden flex mb-2"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        *ngIf="element.extraInfo"
                    >
                        <div class="border-l-2"></div>
                        <div class="flex flex-col ml-2 gap-2">
                            <div 
                                class="flex w-full gap-4"
                                *ngFor="let key of obterChavesDoObj(element.extraInfo)"
                            >
                                <div class="font-semibold">
                                    {{key | titlecase}}:
                                </div>

                                <div>
                                    {{element.extraInfo[key]}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div 
                        class="overflow-hidden flex mb-2"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        *ngIf="element.notes"
                    >
                        <div class="border-l-2"></div>
                        <div class="flex flex-col ml-2 gap-2">
                            <p class="my-auto">
                                <strong>Comentário:</strong> {{element.notes}}
                            </p>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr 
                mat-header-row 
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr 
                mat-row 
                *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
            ></tr>
            <tr 
                mat-row 
                *matRowDef="let row; columns: ['expandedDetail']" 
                class="h-0"
            ></tr>
        </table>
    </div>

    <mat-paginator
        [length]="resultsLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event"
    ></mat-paginator>
</div>
