<div class="flex flex-col flex-auto w-full">
    <!-- Title -->
    <div class="mt-10 mb-6 mx-4 text-3xl font-semibold tracking-tight leading-none">Filtros</div>

    <!-- Filtros aplicados -->
    <mat-chip-list #chipsfiltros aria-label="Filtros aplicados ao resultado" class="mx-4 mb-6">
        <mat-chip [removable]="true">
            André von
            <button matChipRemove aria-label="Clique para remover o filtro André von" class="mb-1.5">
                <mat-icon class="h-2 w-2">cancel</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>

    <!-- Filtros -->
    <mat-accordion class="mx-4" multi aria-label="Lista de Filtros possíveis de serem aplicados às publicações">

        <mat-expansion-panel *ngFor="let agregacao of agregacoes" class="mb-2">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-semibold text-primary-500 line-clamp-3">
                    {{agregacao.nome}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <section class="">
                <p *ngFor="let item of agregacao.itens">
                    <mat-checkbox [color]="'primary'" aria-label="Clique para incluir" role="checkbox">
                        {{item.descricao}} ({{item.quantidade}})
                    </mat-checkbox>
                </p>
            </section>

        </mat-expansion-panel>

    </mat-accordion>

    <!-- Compose button -->
    <button class="m-8" mat-flat-button [color]="'primary'" (click)="filtrar()">
        <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
        <span class="ml-2">Filtrar</span>
    </button>
</div>