<div class="flex flex-col flex-auto w-full">

    <!-- Filtros -->
    <mat-accordion class="mx-4" multi aria-label="Lista de Filtros possíveis de serem aplicados às publicações">

        <!-- Filtros aplicados -->
        <mat-expansion-panel *ngIf="pesquisas[0]" class="mb-2 border-solid border-2" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-semibold text-primary-500 line-clamp-3">
                    Palavra Chave
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <section class="flex flex-row flex-wrap">
                <mat-chip-list *ngFor="let pesquisa of pesquisas" #chipsfiltros aria-label="Filtros aplicados ao resultado" class="mx-4 mb-6">
                    <mat-chip [removable]="true" (removed)="removePesquisa(pesquisa)">
                        {{pesquisa}}
                        <button matChipRemove aria-label="Clique para remover o filtro André von" class="mb-1.5">
                            <mat-icon class="h-2 w-2">cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel class="mb-2 border-solid border-2" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-semibold text-primary-500 line-clamp-3">
                    Período
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <section class="">
                <mat-form-field class="w-full my-4" appearance="fill">
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Início" name="data_inicio" [(ngModel)]="data_inicio">
                        <input matEndDate placeholder="Fim" name="data_fim" [(ngModel)]="data_fim">
                    </mat-date-range-input>
    
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let agregacao of agregacoes" class="mb-2 border-solid border-2">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-semibold text-primary-500 line-clamp-3">
                    {{agregacao.nome}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <section class="">
                <p *ngFor="let item of agregacao.itens">
                    <mat-checkbox [color]="'primary'" aria-label="Clique para incluir" role="checkbox">
                        {{item.descricao}} ({{item.quantidade}})
                    </mat-checkbox>
                </p>
            </section>
        </mat-expansion-panel>

    </mat-accordion>

    <!-- Compose button -->
    <button class="m-8" mat-flat-button [color]="'primary'" (click)="filtrar()">
        <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
        <span class="ml-2">Filtrar</span>
    </button>
</div>