<div class="flex flex-col -m-6 text-base overflow-x-hidden">
    <!-- Header -->
    <div class="flex flex-0 h-16 px-8
        items-center justify-between bg-primary text-on-primary"
    >
        <div class="text-lg mt-2 sm:mt-0 font-medium">Correção de Capitulo</div>
    </div>

    <!-- Formulário -->
    <form
      class="flex flex-col p-4 min-w-72 max-h-80 sm:max-h-100 overflow-y-auto space-y-4 md:space-y-2"
      [formGroup]="correcaoCapitulosForm" cdkScrollable>
        <!-- Selecionar Capitulo para Correção -->
        <ng-container formArrayName="correcoes">
            <ng-container *ngFor="let correcao of correcoes.controls; let i = index;">
                <form [formGroup]="correcao" class="flex flex-col">
                    <mat-checkbox color="primary" formControlName="marcado" (change)="apagaCorrecao(i)">
                        {{ capitulos[i].classe }} {{ capitulos[i].numero }} - {{ capitulos[i].cadeia }}
                    </mat-checkbox>
                    <mat-form-field class="mt-2" appearance="outline" *ngIf="correcao.controls.marcado.value">
                        <mat-label>Informe o texto a ser corrigido</mat-label>
                        <textarea matInput formControlName="correcao"></textarea>
                    </mat-form-field>
                </form>
            </ng-container>
        </ng-container>
    </form>

    <!-- Conclusão -->
    <div class="flex flex-row m-4 space-x-4">
        <button class="ml-auto text-xs sm:text-base" mat-raised-button mat-dialog-close>Cancelar</button>
        <button
          class="text-xs sm:text-base" color="primary" mat-raised-button
          (click)="enviarCorrecao()" [disabled]="marcadoCorrecao().length < 1">
            Salvar
        </button>
    </div>
</div>
