<div class="relative mat-elevation-z8">
    <div
        class="absolute top-0 left-0 right-0 bottom-14 bg-gray-200 
                 z-10 flex items-center justify-center"
        *ngIf="isLoadingResults || isRateLimitReached"
    >
        <mat-spinner
            *ngIf="isLoadingResults"
            class="mt-12 z-10"
            color="primary"
        ></mat-spinner>

        <div
            class="max-w-90 text-center"
            *ngIf="isRateLimitReached"
        >
            Aguarde alguns segundos...
        </div>
    </div>

    <div class="relative min-h-50 overflow-auto">
        <table
            mat-table
            multiTemplateDataRows
            [dataSource]="dataSource"
            matSort 
            matSortActive="numero-ano" 
            matSortDisableClear 
            matSortDirection="desc"
            class="mat-elevation-z8 w-full overflow-y-auto"
        >
            <!-- Número/Ano da Sessão Column -->
            <ng-container class="" matColumnDef="numero-ano-sessao">
                <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header="numero-ano" disableClear>
                    Número/Ano da Sessão
                </th>

                <td mat-cell *matCellDef="let element">
                    {{element.numero}}/{{element.ano}}
                </td>
            </ng-container>

            <!-- Colegiado Column -->
            <ng-container matColumnDef="colegiado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="colegiado" disableClear>
                    Colegiado
                </th>

                <td mat-cell *matCellDef="let element">
                    {{element.colegiado}}
                </td>
            </ng-container>

            <!-- Modalidade Column -->
            <ng-container matColumnDef="modalidade">
                <th [ngClass]="{'hidden': isTelaPequena()}" mat-header-cell *matHeaderCellDef mat-sort-header="modalidade" disableClear>
                    Modalidade
                </th>

                <td [ngClass]="{'hidden': isTelaPequena()}" mat-cell *matCellDef="let element">
                    {{element.modalidade}}
                </td>
            </ng-container>

            <!-- Inicio Column -->
            <ng-container matColumnDef="inicio">
                <th [ngClass]="{'hidden': isTelaPequena()}" mat-header-cell *matHeaderCellDef mat-sort-header="data_inicio" disableClear>
                    Início da Sessão
                </th>

                <td [ngClass]="{'hidden': isTelaPequena()}" mat-cell *matCellDef="let element">
                    {{element.data_inicio | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>

            <!-- Fim Column -->
            <ng-container matColumnDef="fim">
                <th [ngClass]="{'hidden': isTelaPequena()}" mat-header-cell *matHeaderCellDef mat-sort-header="data_fim" disableClear>
                    Fim da Sessão
                </th>

                <td [ngClass]="{'hidden': isTelaPequena()}" mat-cell *matCellDef="let element">
                    {{element.data_fim | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>

            <!-- Qtd Processos Column -->
            <ng-container matColumnDef="qtd-processos">
                <th [ngClass]="{'hidden': isTelaPequena()}" mat-header-cell *matHeaderCellDef>
                    Qtd Processos
                </th>

                <td [ngClass]="{'hidden': isTelaPequena()}" mat-cell *matCellDef="let element">
                    <div class="max-w-12 mx-auto py-0.5 px-3 rounded-full text-sm 
                        font-semibold text-black bg-gray-300"
                    >
                        {{getQtdProcessosFormatado(element.processos?.length || 0)}}
                    </div>
                </td>
            </ng-container>

            <!-- Status da Sessão Column -->
            <ng-container matColumnDef="status-sessao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="status" disableClear>
                    Status da Sessão
                </th>

                <td mat-cell *matCellDef="let element">
                    {{element.situacao}}
                </td>
            </ng-container>

            <tr 
                mat-header-row 
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr 
                mat-row 
                *matRowDef="let element; columns: displayedColumns;"
                (click)="selecionarLinha(element)"
            ></tr>
        </table>
    </div>

    <mat-paginator
        [length]="resultsLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event"
    ></mat-paginator>
</div>

<digital-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="'teste'"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
