<div class="flex flex-row my-2">
    <div *ngIf="comparaTamanho(idChip)" class="mr-2 my-auto">
        <button (click)="scrollLeft(idChip)">
            <mat-icon>
                navigate_before
            </mat-icon>
        </button>
    </div>
    <div [id]="idChip" class="flex flex-1 overflow-hidden">
        <div [id]="idChip+'2'" class="flex flex-row">
            <mat-chip-list *ngFor="let chip of chips" class="m-1 flex-none">
                <mat-chip 
                    [ngClass]="class" 
                    (click)="onClick.emit({click: true, chip: chip})"
                    (removed)="removerChip(chip)"
                >
                    <mat-icon *ngIf="hasIcon" class="mr-2" style="color:red">picture_as_pdf</mat-icon>
                    {{chip.nome}}
                    <button *ngIf="hasBtnRemove && isChipRemovivel(chip)" matChipRemove class="mb-2 mr-1">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div *ngIf="comparaTamanho(idChip)" class="ml-2 my-auto">
        <button (click)="scrollRight(idChip)">
            <mat-icon>
                navigate_next
            </mat-icon>
        </button>
    </div>
</div>
