<div class="flex flex-col max-w-240 md:min-w-160 -m-6">
  <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto ng-pristine ng-invalid ng-touched">
    <h1 class="text-lg font-medium">
      {{data.titulo}}
    </h1>

    <p class="text-lg ">
      {{data.mensagem}}
    </p>

    <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
      <div mat-dialog-actions class="flex items-center mt-4 sm:mt-0 ml-auto">
        <button 
          class="ml-auto mr-2 sm:ml-0" 
          mat-button 
          (click)="fechar()"
        >
          Cancelar
        </button>

        <button 
          class="ml-auto" 
          color="primary" 
          mat-raised-button
          mat-dialog-close 
          (click)="confirmar()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>