<div>
    <button
        class="absolute right-8 h-12 w-2 rounded-full my-auto sm:hidden"
        [style]="'background-color:' + getCorDoStatus()"
        [matTooltip]="getStatus()"
        matTooltipPosition="left"
        matTooltipShowDelay="100"
    ></button>
</div>

<div>
    <mat-chip
        id="status-processo"
        class="absolute right-8 w-max min-w-40 text-center hidden sm:block"
        [style]="'background-color:' + getCorDoStatus()"
        selected
        (click)="selecionaStatus(getStatus())"
    >
        {{getStatus()}}
    </mat-chip>
</div>

<digital-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
