<div>
    <button 
        class="absolute right-8 h-12 w-2 rounded-full my-auto sm:hidden"
        [style]="'background-color:' + getCorDoStatus()"
        [matTooltip]="getStatus()"
        matTooltipPosition="left"
        matTooltipShowDelay="100"
    ></button>
</div>

<div>
    <mat-chip
        id="status-processo" 
        class="absolute right-8 w-40 text-center hidden sm:block"
        [style]="'background-color:' + getCorDoStatus()"
        selected 
    >
        {{getStatus()}}
    </mat-chip>
</div>