<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between pl-8 bg-white dark:bg-transparent">
        <h1 class="mt-4 text-primary font-medium text-xl sm:text-2xl">
            Revisar Inteiro Teor ADI 400 Mérito
        </h1>
        <div class="flex flex-row items-end mb-4 sm:my-4 ml-auto">
            <button class="z-0 mr-4" mat-button>
                <span>Cancelar</span>
            </button>

            <button
                class="mr-8"
                color="primary"
                mat-raised-button
            >
                Concluir
            </button>
        </div>
    </div>

    <hr class="m-0 p-0" />

    <header class="flex flex-row justify-between px-8 pt-4 bg-white">
        <app-cabecalho-relator
            [processo]="idProcesso"
            [colegiado]="colegiado"
            [sessao]=""
        ></app-cabecalho-relator>
    </header>
</div>
