<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between pl-8 bg-white dark:bg-transparent">
        <h1 class="mt-4 text-primary font-medium text-xl sm:text-2xl">
            Revisar Inteiro Teor ADI 400 Mérito
        </h1>
        <div class="flex flex-row items-end mb-4 sm:my-4 ml-auto">
            <button class="z-0 mr-4" mat-button>
                <span>Cancelar</span>
            </button>

            <button
                class="mr-8"
                color="primary"
                mat-raised-button
            >
                Concluir
            </button>
        </div>
    </div>

    <hr class="m-0 p-0" />

    <header class="px-8 pt-4 bg-white">
        <div class="flex flex-row justify-between">
            <app-cabecalho-relator
                [processo]="idProcesso"
                [colegiado]="colegiado"
                [sessao]=""
            ></app-cabecalho-relator>
        </div>

        <section>
            <div>
                <div class="flex space-x-2 pl-0.5 ml-6 sm:pl-0 sm:ml-3.5">
                    <mat-checkbox color="primary" class="mt-2 mb-2"></mat-checkbox>
                    <button mat-basic-button color="secondary" class="mt-2">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <mat-form-field class="flex-1 h-2 md:hidden text-lg">
                        <mat-select class="flex-1" style="height: 10px;" placeholder="Escolha sua ação">
                            <mat-option value="pautar" class="bg-primary text-white">
                                Publicar no Inteiro Teor
                            </mat-option>
                            <mat-option value="reanalisar">Remover do Inteiro Teor</mat-option>
                            <mat-option value="retirarDePauta">Incluir novo documento</mat-option>
                            <mat-option value="alterarSessao">Incluir comentário</mat-option>
                            <mat-option value="agruparEmLista">Revisado</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="hidden md:flex space-x-4">
                        <button mat-raised-button color="primary">
                            Publicar no Inteiro Teor
                        </button>
                        <button mat-flat-button class="bg-gray-200">
                            Remover do Inteiro Teor
                        </button>
                        <button mat-flat-button class="bg-gray-200">
                            Incluir novo documento
                        </button>
                        <button mat-flat-button class="bg-gray-200">
                            Incluir comentário
                        </button>
                        <button mat-flat-button class="bg-gray-200">
                            Revisado
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </header>

    <!-- Main -->
    <div class="flex-auto  overflow-y-auto px-8 py-4" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div>
            <!-- <app-tabela
                [allSelected]="selectAllLines"
                (tagSelecionada)="filtrarPorTags($event)"
                (statusSelecionado)="filtrarPorStatus($event)"
            ></app-tabela> -->
        </div>
    </div>
</div>
