<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-white">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between pl-8 bg-white dark:bg-transparent">
        <h1 class="mt-4 text-primary font-medium text-xl sm:text-2xl">
            Revisar Inteiro Teor {{ revisoes?.classe }} {{ revisoes?.numero }} {{ revisoes?.nome }}
        </h1>
        <div class="flex flex-row items-end mb-4 sm:my-4 ml-auto">
            <button class="z-0 mr-4" mat-button>
                <span>Cancelar</span>
            </button>

            <button
                class="mr-8"
                color="primary"
                mat-raised-button
            >
                Concluir
            </button>
        </div>
    </div>

    <hr class="m-0 p-0" />

    <header class="px-8 pt-4 bg-white">
        <app-cabecalho-relator
            [processo]="idProcesso"
            [colegiado]="colegiado"
            [nomesDasSessoes]="nomesDasSessoes"
        ></app-cabecalho-relator>

        <section>
            <div>
                <div class="flex space-x-2 pl-0.5 ml-6 sm:pl-0 sm:ml-3.5">
                    <mat-checkbox
                        color="primary" class="mt-2 mb-2"
                        (change)="selecionarOuDeselecionarTodosOsCheckbox()"
                    ></mat-checkbox>

                    <button mat-basic-button color="secondary" class="mt-2">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <mat-form-field class="flex-1 h-2 md:hidden text-lg">
                        <mat-select class="flex-1" style="height: 10px;" placeholder="Escolha sua ação">
                            <mat-option value="pautar" class="bg-primary text-white">
                                Publicar no Inteiro Teor
                            </mat-option>
                            <mat-option value="reanalisar">Remover do Inteiro Teor</mat-option>
                            <mat-option value="retirarDePauta">Incluir novo documento</mat-option>
                            <mat-option value="alterarSessao">Incluir comentário</mat-option>
                            <mat-option value="agruparEmLista">Revisado</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="hidden md:flex space-x-4">
                        <button (click)="publicarInteiroTeor()" mat-raised-button color="primary">
                            Publicar no Inteiro Teor
                        </button>
                        <button (click)="removerInteiroTeor()" mat-flat-button class="bg-gray-200">
                            Remover do Inteiro Teor
                        </button>
                        <button (click)="incluirNovoDocumento()" mat-flat-button class="bg-gray-200">
                            Incluir novo documento
                        </button>
                        <button (click)="incluirComentario()" mat-flat-button class="bg-gray-200">
                            Incluir comentário
                        </button>
                        <button (click)="revisar()" mat-flat-button class="bg-gray-200">
                            Revisado
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </header>

    <!-- Main -->
    <div class="flex-auto overflow-y-auto px-8 py-4" cdkScrollable>
        <table
            class="w-full min-w-320 table-fixed bg-transparent"
            mat-table
            cdkDropList
            matSort
            [matSortActive]="'autor'"
            [matSortDisableClear]="true"
            [matSortDirection]="'asc'"
            [multiTemplateDataRows]="true"
            [dataSource]="dataSource"
            (cdkDropListDropped)="drop($event)"
            (matSortChange)="ordenar($event)"
        >
            <ng-container matColumnDef="autor">
                <th
                    class="pl-20 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                >
                    Autor
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    <div class="flex flex-row justify-between items-center w-32">
                        <div
                            class="flex items-center justify-center w-8 cursor-move"
                            cdkDragHandle
                        >
                            <mat-icon
                                class="icon-size-5 text-hint"
                                [svgIcon]="'heroicons_solid:menu'"
                            ></mat-icon>
                        </div>

                        <mat-checkbox
                            color="primary"
                            [value]="document"
                            (change)="selecionarOuDeselecionarLinha(document)"
                            [checked]="todosOsCheckboxSelecionados"
                        ></mat-checkbox>

                        <span>
                            {{document.ordem}}
                        </span>

                        <div class="mb-3 ml-2">
                            <app-icones-votos
                                [ministros]="document.autores"
                                [quantidade]="document.autores.length"
                            ></app-icones-votos>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="responsavel">
                <th
                    class="pl-15 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                >
                    Responsável
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    {{document.responsavel.abreviacao}}
                </td>
            </ng-container>

            <ng-container matColumnDef="comentarios">
                <th
                    class="pl-14 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                >
                    Comentários
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    {{document.comentario}}
                </td>
            </ng-container>

            <ng-container matColumnDef="documento">
                <th
                    class="pl-15 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                >
                    Documento
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    {{document.nome}}
                </td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th
                    class="pl-12 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                >
                    Data de criação
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    {{document.data_criacao | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="situacao">
                <th
                    class="pl-16 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                >
                    Situação
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    <mat-chip class="bg-green-700 text-white">
                        {{document.situacao}}
                    </mat-chip>
                </td>
            </ng-container>

            <ng-container matColumnDef="arquivo">
                <th
                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Arquivo
                </th>
                <td
                    class="text-center"
                    mat-cell
                    *matCellDef="let document"
                >
                    <mat-chip
                        (click)="abrirPdf(document.arquivo)"
                        class="border-primary border-solid border-2 bg-transparent text-primary mr-2"
                    >
                        <mat-icon class="mr-2" style="color:red">picture_as_pdf</mat-icon>
                        Abrir
                    </mat-chip>

                    <button
                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                        (click)="alternarEdicaoDocumento(document)"
                        mat-icon-button
                    >
                        <mat-icon class="icon-size-5" [svgIcon]="documentoSelecionado?.ordem === document.ordem ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="edicaoDocumento">
                <td
                    class="p-0 border-b-0"
                    mat-cell
                    *matCellDef="let document"
                    [attr.colspan]="displayedColumns.length">
                    <ng-container *ngIf="documentoSelecionado?.ordem === document.ordem">
                        <ng-container *ngTemplateOutlet="linhaEdicaoTemplate; context: {$implicit: document}"></ng-container>
                    </ng-container>
                </td>

                <ng-template #linhaEdicaoTemplate let-document>
                    <div class="shadow-lg overflow-hidden" [@expandCollapse]="documentoSelecionado?.ordem === document.ordem ? 'expanded' : 'collapsed'">
                        <div class="flex border-b">
                            <form class="flex flex-col w-full" [formGroup]="editarDocumentoForm">
                                <div class="flex p-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-full pl-8">
                                            <div class="flex">
                                                <mat-form-field class="w-1/3 pr-2">
                                                    <mat-label>Situação</mat-label>
                                                    <input
                                                        matInput
                                                        [formControlName]="'situacao'">
                                                </mat-form-field>
                                                <mat-form-field class="w-1/3 px-2">
                                                    <mat-label>Nome do Documento</mat-label>
                                                    <input
                                                        matInput
                                                        [formControlName]="'nome'">
                                                </mat-form-field>
                                                <mat-form-field class="w-1/3 pl-2">
                                                    <mat-label>Comentários</mat-label>
                                                    <input
                                                        matInput
                                                        [formControlName]="'comentario'">
                                                </mat-form-field>
                                            </div>

                                            <mat-form-field class="w-full" appearance="outline">
                                                <mat-label>
                                                    Observação
                                                    <span class="text-red-500">*</span>
                                                </mat-label>
                                                <textarea matInput formControlName="observacao"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center justify-end w-full border-t px-8 py-4">
                                    <button
                                        mat-flat-button
                                        class="mr-2"
                                        type='button'
                                        (click)="fecharEdicaoDocumento()"
                                    >
                                        CANCELAR
                                    </button>

                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                    >
                                        SALVAR
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </ng-container>

            <tr
                class="shadow"
                mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></tr>

            <tr
                class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                mat-row
                cdkDrag
                [cdkDragLockAxis]="'y'"
                cdkDragBoundary=".table-fixed"
                *matRowDef="let document; columns: displayedColumns;"
            ></tr>

            <tr
                class="h-0"
                mat-row
                *matRowDef="let row; columns: ['edicaoDocumento']"></tr>
        </table>
    </div>
</div>

<app-visualizador-pdf
    *ngIf="link"
    [nome]="'visualizador-pdf-do-revisar-inteiro-teor'"
    [link]="link"
    [posicao]="'left'"
></app-visualizador-pdf>

<app-alerta
    [nome]="NOME_DO_ALERTA_DESTA_CLASSE"
    [titulo]="'Erro de validação'"
    [mensagem]="'Selecione alguma linha da tabela para poder usar essa opção'"
    [aparencia]="'soft'"
    [tipo]="'error'"
    class="w-full"
></app-alerta>
