<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between pl-8 bg-white dark:bg-transparent">
        <h1 class="mt-4 text-primary font-medium text-xl sm:text-2xl">
            Colegiado para a Sessão 
        </h1>
        <div class="flex flex-row items-end mb-4 sm:my-4 ml-auto">
            <button class="z-0 mr-4" mat-button>
                <span>Cancelar</span>
            </button>
    
            <button 
                class="mr-8"
                color="primary" 
                mat-raised-button 
            >
                Finalizar 
            </button>
        </div>
    </div>

    <hr class="m-0 p-0" />

    <header class="bg-white px-8 pt-4">
        <app-cabecalho-relator
            [processo]="'ADI100-Ag-Ag-Ag'"
            [colegiado]="'pleno'"
        ></app-cabecalho-relator>
    </header>

    <!-- Main -->
    <div class="flex-auto overflow-y-auto pl-8 px-4 pb-8" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <div class="flex flex-col-reverse sm:grid sm:grid-cols-3 lg:grid-cols-4 gap-4 my-4">
            <div class="sm:col-span-2 lg:col-span-3">
                <fuse-card class="flex flex-col my-2 p-4">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab 
                            class="tab-click" 
                            *ngFor="let voto of votos" 
                            [label]="voto.autor.nome"
                        >
                            <app-conteudo-voto-ministro
                                [voto]="voto"
                            ></app-conteudo-voto-ministro>
                        </mat-tab>
                    </mat-tab-group>
                </fuse-card>
            </div>

            <div class="w-full">
                <fuse-card
                    class="max-h-full p-6 my-2 flex flex-col"
                >
                    <mat-accordion class="" multi>
                        <mat-expansion-panel 
                            *ngFor="let decisao of decisoes; index as i"
                        >
                            <mat-expansion-panel-header class="px-2">
                                <div class="flex justify-center items-center py-6">
                                    <mat-panel-title>
                                        <span 
                                            [matBadge]="(i + 1)" 
                                            class="ml-4"
                                        ></span>
                                    </mat-panel-title>
    
                                    <mat-panel-description class="text-black">
                                        <strong>Preliminar</strong>
                                    </mat-panel-description>
                                </div>
                            </mat-expansion-panel-header>
                        
                            <app-form-decisao
                                [decisao]="decisao"
                            ></app-form-decisao>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <app-form-decisao
                        (dadosDaDecisao)="obterDadosDaDecisao($event)"
                    ></app-form-decisao>
                </fuse-card>

                <fuse-card
                    class="max-h-full p-4 my-2 flex flex-col mb-4"
                >
                    <section class="">
                        <h3 class="font-medium text-md">
                            Aplicar as mesmas decisões
                        </h3>

                        <mat-spinner
                            class="m-auto"
                            [diameter]="40"
                            *ngIf="processosPorTags.length === 0; else processos"
                        ></mat-spinner>

                        <ng-template #processos class="max-h-36 overflow-auto">
                            <p *ngFor="let processo of processosPorTags">
                                <mat-checkbox (change)="aplicarAsMesmasDecisoes(processo)" color="primary">
                                    <span class="font-bold text-primary-600">
                                        {{processo.classe}} {{processo.numero}}
                                    </span>

                                    <br/>

                                    <span class="text-hint">
                                        Relator prevaleceu
                                    </span>
                                </mat-checkbox>
                            </p>
                        </ng-template>
                    </section>
                </fuse-card>
            </div>
        </div>
    </div>
</div>