<div class="w-full relative flex overflow-hidden border -mt min-h-80">
    <div class="flex-auto bg-gray-100 p-4">
        <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-page">

            <!-- Header -->
            <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between pl-8 pb-2 bg-card dark:bg-transparent">
                <h1 class="mt-4 text-primary font-medium text-xl sm:text-2xl">
                    Lançamento do Resultado do Julgamento da {{getNomeCompletoProcesso()}}
                </h1>
            </div>

            <hr class="m-0 mt-0 p-0" />

            <header class="pt-2 flex flex-col px-2 bg-card">
                <digital-cabecalho-relator [processo]="processo" [colegiado]="parametros.colegiado" [votos]="votos"
                    [sessao]="sessao" [chips]="obterNomeDosChips()" *ngIf="processo"></digital-cabecalho-relator>

                <div class="hidden md:grid md:grid-cols-6 lg:grid lg:grid-cols-10 my-2">
                    <div class="md:col-span-5 lg:col-span-6 my-auto">
                        <button class="mr-2 text-sm" color="primary" mat-raised-button (click)="finalizar()">
                            FINALIZAR
                        </button>

                        <button mat-raised-button class="max-w-full mr-2 text-sm" (click)="exibirModalDeModeloDecisao()">
                            MODELOS DE TEXTO
                        </button>

                        <button mat-raised-button class="max-w-full mr-2 text-sm"
                            (click)="exibirModalDeIndicacaoDeImpedimentos()">
                            IMPEDIMENTOS
                        </button>

                        <button mat-raised-button class="z-0 md:mt-2 text-sm" mat-button>
                            <span>CANCELAR</span>
                        </button>
                    </div>


                    <div class="md:col-span-1 lg:col-span-4">
                        <digital-chips [idChip]="'idChipsResultadoJulgamento'" [chips]="chips" [hasArrow]="true"
                            [hasBtnRemove]="true" [conteudosNoChipParaSerRemovivel]="['vista', 'destaque']"
                            (onClick)="exibirModalDeIndicacaoDeImpedimentos()"></digital-chips>
                    </div>
                </div>

                <div class="md:hidden">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Ações</mat-label>
                        <mat-select>
                            <mat-option (click)="finalizar()">Finalizar</mat-option>
                            <mat-option (click)="exibirModalDeModeloDecisao()">Modelos de texto</mat-option>
                            <mat-option (click)="exibirModalDeIndicacaoDeImpedimentos()">Indicar impedimentos</mat-option>
                            <mat-option>Cancelar</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </header>

            <hr class="m-0 p-0" />

            <!-- Body -->
            <div class="flex-auto p-2 sm:p-2 overflow-y-auto" cdkScrollable>
                <!-- CONTENT GOES HERE -->
                <div class=" min-h-100 border-gray-300 rounded-2xl">
                    <div class="w-full flex flex-wrap justify-center space-x-4 mt-8 mb-4">
                        <!-- Card de capítulos-->
                        <div class="w-1/4 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden justify-between">
                            <div>
                                <div class="p-6">
                                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Decisões</div>
                                    <div class="text-secondary font-medium">Lista de decisões por capítulo</div>
                                </div>
                                <div class="overflow-hidden mx-2 pl-4">
                                    <ng-container
                                        *ngIf="todosCapitulos.length > 0; else semDecisoes"
                                    >
                                        <div
                                            class="divide-y focus-within:shadow-lg"
                                            cdkDropList
                                            [cdkDropListData]="todosCapitulos"
                                            (cdkDropListDropped)="dropped($event)"
                                        >
                                            <!-- Capítulo -->
                                            <ng-container
                                                *ngFor="let item of todosCapitulos; index as i; let first = first; trackBy: trackByFn"
                                            >
                                                <div
                                                    class="group w-full select-none hover:bg-gray-100
                                                        dark:hover:bg-hover"
                                                    [class.border-t]="first"
                                                    cdkDrag
                                                    [cdkDragLockAxis]="'y'"
                                                >

                                                    <!-- Drag preview -->
                                                    <div class="flex flex-0 w-0 h-0" *cdkDragPreview></div>

                                                    <!-- Capítulo content -->
                                                    <div class="relative flex items-center h-full pl-10">

                                                        <!-- Selected indicator -->
                                                        <ng-container *ngIf="isMarcarDecisao(item)">
                                                            <div
                                                                class="z-10 absolute -top-px right-0 -bottom-px flex flex-0 w-1 bg-primary">
                                                            </div>
                                                        </ng-container>

                                                        <!-- Drag handle -->
                                                        <div
                                                            class="md:hidden absolute flex items-center
                                                                justify-center inset-y-0 left-0 w-8
                                                                cursor-move md:group-hover:flex"
                                                            cdkDragHandle
                                                        >
                                                            <mat-icon
                                                                class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:menu'"
                                                            ></mat-icon>
                                                        </div>

                                                        <!-- Capítulo link -->
                                                        <a class="flex flex-auto py-2 items-center min-w-0 h-full pr-7"
                                                            (click)="setCapituloSelecionado(null); setCapituloSelecionado(item); abrirGaveta(FORM_CADASTRO_DECISAO);">
                                                            <!-- Title & Placeholder -->
                                                            <div class="flex-auto mr-2 truncate">
                                                                <ng-container class="flex flex-row items-center justify-between">
                                                                    <p
                                                                        class="my-auto"
                                                                        [matTooltip]="item.descricao"
                                                                        *ngIf="item"
                                                                    >
                                                                        {{(i+1)}}º: {{item.tipo}} -

                                                                        <strong class="text-primary-500">
                                                                            {{item.dispositivo?.nome || item.dispositivo}}
                                                                        </strong>

                                                                        {{
                                                                            (item.texto.length > 30)
                                                                            ? (removerTagsHTML(item.texto) | slice:0:6) + '...'
                                                                            : (removerTagsHTML(item.texto))
                                                                        }}
                                                                    </p>
                                                                </ng-container>
                                                            </div>
                                                        </a>

                                                        <button class="mt-2 mr-4" (click)="excluirCapitulo(item)">
                                                            <mat-icon>cancel</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>

                                    <ng-template #semDecisoes>
                                        <div class="p-4">
                                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Sem capítulos com decisões</div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="overflow-x-auto mx-6">
                                <!-- Footer -->
                                <ng-container matColumnDef="recentOrdersTableFooter">
                                    <td class="py-6 px-0 border-0 flex items-end" mat-footer-cell colspan="6">
                                        <button
                                            (click)="setCapituloSelecionado(null);
                                                abrirGaveta(FORM_CADASTRO_DECISAO)"
                                            class="mt-4 text-sm justify-self-end"
                                            color="primary"
                                            mat-raised-button
                                        >
                                            NOVO CAPÍTULO
                                        </button>
                                    </td>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Card de Vistas e Destaques -->
                        <div class="w-1/4 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden justify-between">
                            <div>
                                <div class="p-6">
                                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Vistas e Destaques</div>
                                    <div class="text-secondary font-medium">Lista das vistas ou destaques pedidos no julgamento</div>
                                </div>
                                <div class="overflow-x-auto mx-2">
                                    <ng-container *ngIf="vistasEDestaques?.length > 0; else semItens">
                                        <!-- Task -->
                                        <ng-container
                                            *ngFor="let item of vistasEDestaques ">
                                            <div class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover">
                                                <!-- Task content -->
                                                <div class="relative flex items-center h-full pl-10">

                                                    <img [src]="item.ministro.imagem" alt="{{item.ministro.nome}}"
                                                        class="w-9 h-9 mr-2 -ml-6 rounded-full ng-tns-c129-57 ng-star-inserted">

                                                    <!-- Task link -->
                                                    <a class="flex flex-auto py-2 items-center min-w-0 h-full pr-7"
                                                        (click)="editarVistaOuDestaque(item);">
                                                        <!-- Title & Placeholder -->
                                                        <div class="flex-auto mr-2 truncate">
                                                            <ng-container class="flex items-center justify-center">
                                                                <p class="my-auto" [matTooltip]="removerTagsHTML(item.texto)" >
                                                                    <span *ngIf="item.type == 'vista'; else destaque">Vista </span> <ng-template #destaque>Destaque </ng-template> <strong
                                                                        class="text-primary-500">{{item.ministro.nome}}</strong>
                                                                    pedida em {{item.data |
                                                                    date:"dd/MM/YY"}}
                                                                </p>
                                                            </ng-container>
                                                        </div>
                                                    </a>
                                                    <button class="mt-2" (click)="excluirVistaOuDestaque(item)">
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    <ng-template #semItens>
                                        <div class="p-4">
                                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Não há registros</div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="overflow-x-auto mx-6">
                                <!-- Footer -->
                                <ng-container>
                                    <td class="py-6 px-0 border-0 flex items-end" mat-footer-cell colspan="6">
                                        <button mat-raised-button class="max-w-full mr-2 text-sm justify-end"
                                        (click)="novaVista()">PEDIDO DE VISTA</button>
                                        <button
                                        mat-raised-button
                                        class="max-w-full mr-2 text-sm"
                                        (click)="novoDestaque()"
                                    >
                                        PEDIDO DE DESTAQUE
                                    </button>
                                    </td>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Card de Suspensão -->
                        <div class="w-1/4 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden justify-between">
                            <div>
                                <div class="p-6">
                                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">
                                        Suspensões
                                    </div>

                                    <div class="text-secondary font-medium">
                                        Lista de Suspensões
                                    </div>
                                </div>
                                <div class="overflow-x-auto mx-2">
                                    <ng-container
                                        *ngIf="processo.suspensoes?.length > 0; else semSuspensoes"
                                    >
                                        <!-- Task -->
                                        <ng-container
                                            *ngFor="let suspensao of (processo?.suspensoes | ordenar: 'data' : 'asc'); index as i; let first = first; trackBy: trackByFn">
                                            <div class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover">
                                                <!-- Task content -->
                                                <div class="relative flex items-center h-full pl-10">
                                                    <!-- Task link -->
                                                    <a
                                                        class="flex flex-auto py-2 items-center min-w-0 h-full pr-7"
                                                        (click)="editarSuspensao(suspensao);"
                                                    >
                                                        <!-- Title & Placeholder -->
                                                        <div class="flex-auto mr-2 truncate">
                                                            <ng-container class="flex items-center justify-center">
                                                                <p
                                                                    class="my-auto"
                                                                    [matTooltip]="removerTagsHTML(suspensao.texto)"
                                                                >
                                                                    {{(i+1)}}ª
                                                                    Suspensão pedida em
                                                                    {{suspensao.data | date:"dd/MM/YYYY"}}
                                                                </p>
                                                            </ng-container>
                                                        </div>
                                                    </a>

                                                    <button
                                                        class="mt-2"
                                                        (click)="excluirSuspensao(suspensao)"
                                                    >
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                    <ng-template #semSuspensoes>
                                        <div class="p-4">
                                            <div
                                                class="mr-4 text-lg font-medium tracking-tight
                                                    leading-6 truncate"
                                            >
                                                Não há pedidos de Suspensões.
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="overflow-x-auto mx-6">
                                <!-- Footer -->
                                <ng-container matColumnDef="recentOrdersTableFooter">
                                    <td class="py-6 px-0 border-0" mat-footer-cell colspan="2">
                                        <button
                                            mat-raised-button
                                            class="max-w-full mr-2 text-sm"
                                            (click)="pedirSuspensao()"
                                        >
                                            PEDIDO DE SUSPENSÃO
                                        </button>
                                    </td>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--INICIO DRAWERS-->
            <div>
                <fuse-drawer
                    [name]="FORM_CADASTRO_DECISAO"
                    [opened]="false"
                    [position]="'right'"
                    [mode]="'over'"
                    id="vista-destaque-drawer"
                >
                    <div class="flex-auto overflow-auto p-4">
                        <div class="border-gray-300 rounded-2xl">
                            <button
                                mat-mini-fab
                                color="primary"
                                (click)="abrirGaveta(FORM_CADASTRO_DECISAO)"
                            >
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>

                        <digital-form-decisao
                            [capitulo]="capituloSelecionado"
                            [processo]="processo"
                            [sessaoDeJulgamento]="sessao"
                            (dadosDoCapitulo)="atualizarCapitulos($event); abrirGaveta(FORM_CADASTRO_DECISAO)"
                            (resultadoDaAcao)="obterResultadoDaAcao($event)"
                            (closeDrawerEmit)="fecharGaveta(FORM_CADASTRO_DECISAO)"
                        ></digital-form-decisao>
                    </div>
                </fuse-drawer>

                <fuse-drawer
                    [name]="FORM_VISTA_DESTAQUE"
                    [opened]="false"
                    [position]="'right'"
                    [mode]="'over'"
                    id="vista-destaque-drawer"
                >
                    <div class="flex-auto overflow-auto p-4">
                        <div class="border-gray-300 rounded-2xl">
                            <button
                                mat-mini-fab
                                color="primary"
                                (click)="abrirGaveta(FORM_VISTA_DESTAQUE)"
                            >
                                <mat-icon>arrow_forward</mat-icon>
                            </button>

                            <digital-form-vista-e-destaque
                                [sessao]= "sessao"
                                [vistaOuDestaqueSelecionado]="vistaOuDestaqueSelecionado"
                                [processo] = "processo"
                                (closeDrawerEmit)="fecharGaveta(FORM_VISTA_DESTAQUE)"
                                (savedDrawer)="retornoVistaDestaqueDrawer($event)"
                                (excluirVistaOuDestaque)="excluirVistaOuDestaque($event)"
                            ></digital-form-vista-e-destaque>
                        </div>
                    </div>
                </fuse-drawer>

                <fuse-drawer
                    [name]="DRAWER_SUSPENSAO"
                    [opened]="false"
                    [position]="'right'"
                    [mode]="'over'"
                    [id]="'vista-destaque-drawer'"
                >
                    <div class="flex-auto overflow-auto p-4">
                        <div class="h-full border-gray-300 rounded-2xl">
                            <button
                                mat-mini-fab
                                color="primary"
                                (click)="abrirGaveta(DRAWER_SUSPENSAO)"
                            >
                                <mat-icon>arrow_forward</mat-icon>
                            </button>

                            <digital-form-suspensao
                                [parametros]="parametros"
                                [suspensao]="suspensaoSelecionada"
                                (closeDrawerEmit)="fecharGaveta(DRAWER_SUSPENSAO);"
                            ></digital-form-suspensao>
                        </div>
                    </div>
                </fuse-drawer>
            </div>
        </div>
    </div>
</div>

<digital-alerta
    [nome]="alerta.nome"
    [titulo]="alerta.titulo"
    [mensagem]="alerta.mensagem"
    [aparencia]="'outline'"
    [tipo]="alerta.tipo"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
