<div class="flex min-w-full content-center items-center ml-3.5">
    <div>
        <mat-form-field hintLabel="Informe um termo para pesquisar ou acesse as opções de filtro"
            class="fuse-mat-rounded">
            <mat-label>Filtrar processos</mat-label>
            <mat-icon matPreffix>search</mat-icon>
            <input matInput (keyup)="filtros.termo = $event.target.value" autofocus
                placeholder="Digite aqui seu filtro...">
            <button mat-icon-button matSuffix (click)="openDialog()">
                <mat-icon matSuffix>filter_alt</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="content-start p-2">
            <mat-chip-list #chipList class="content-center" aria-orientation="vertical">
                <mat-chip [removable]="true"
                    (removed)="removeFiltroTermo()" *ngIf="this.filtros.termo">
                    {{ this.filtros.termo }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip [removable]="true"
                    (removed)="removeFiltroBooleano('primeira_turma')" *ngIf="this.filtros.primeira_turma">
                    Primeira Turma
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip [removable]="true"
                    (removed)="removeFiltroBooleano('segunda_turma')" *ngIf="this.filtros.segunda_turma">
                    Segunda Turma
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip [removable]="true" (removed)="removeFiltroBooleano('pleno')"
                    *ngIf="this.filtros.pleno">
                    Pleno
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip *ngFor="let situacao of this.filtros.situacoes" [removable] ="true" (removed)="removeFiltro('situacoes', situacao)">
                    {{ situacao }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip *ngFor="let classe of this.filtros.classes" [removable] ="true" (removed)="removeFiltro('classes', classe)">
                    {{ classe }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip *ngFor="let tag of this.filtros.tags" [removable] ="true" (removed)="removeFiltro('tags', tag)">
                    {{ tag.descricao }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
    </div>
</div>