<div>
    <h1>Preliminares</h1>
    <h3>1 Preliminar</h3>
    <p>
        Antes de adentrar no mérito do pedido, é preciso analisar, ainda, se houve alteração substancial do artigo 82 do
        ADCT da Constituição mineira pela Emenda Constitucional estadual 70/2005. Com efeito, a Emenda Constitucional
        estadual 70/2005 modificou parcialmente o conteúdo do referido art. 82 do ADCT da Constituição mineira, razão
        pela qual suscito questão de ordem acerca da prejudicialidade desta ação direta.
    </p>
    <h3>2 Preliminar</h3>
    <p>
        Antes de adentrar no mérito do pedido, é preciso analisar, ainda, se houve alteração substancial do artigo 82 do
        ADCT da Constituição mineira pela Emenda Constitucional estadual 70/2005. Com efeito, a Emenda Constitucional
        estadual 70/2005 modificou parcialmente o conteúdo do referido art. 82 do ADCT da Constituição mineira, razão
        pela qual suscito questão de ordem acerca da prejudicialidade desta ação direta.
    </p>
    <h1>Mérito</h1>
    <p>
        Antes de adentrar no mérito do pedido, é preciso analisar, ainda, se houve alteração substancial do artigo 82 do
        ADCT da Constituição mineira pela Emenda Constitucional estadual 70/2005. Com efeito, a Emenda Constitucional
        estadual 70/2005 modificou parcialmente o conteúdo do referido art. 82 do ADCT da Constituição mineira, razão
        pela qual suscito questão de ordem acerca da prejudicialidade desta ação direta. 
    </p>
</div>