@import 'styles/styles.scss';


h1{
    color: $dark-text;
    font: $body-1;
    font-weight: 500;
}
h3{
    color: $dark-text;
    font: $caption-2;
    font-weight: 500;

}
p{
    color: $dark-text;
    font: $caption-2;
}