<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-row text-primary justify-center items-center sm:justify-between pl-8 bg-default dark:bg-transparent">
        <h1 class="mt-4">
            Solicitação de Sessão de Julgamento Extraordinária MMA
        </h1>
    </div>

    <hr class="m-0 p-0 mb-4" />

    <!-- Main -->
    <div class="flex-auto  overflow-y-auto px-8 pb-8" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <div>
            <div class="mb-8">
                <app-processo-chip
                    [processos]="processos"
                    [isRemovable]="false"
                    [isEmitRemoveEvent]="false"
                ></app-processo-chip>
            </div>

            <p class="text-primary">
                Ministro Gilmar Mendes, presidente da Primeira Turma, informa
                que não há possibilidade de agenda para a criação da Sessão de 
                Julgamento Extraordinária para a data solicitada de 21/04/2021.
            </p>

            <h2 class="text-primary mt-8">Processos</h2>
            <div class="mb-4">
                <app-processo-painel-expansivo
                    *ngFor="let processo of processos"
                    [processo]="processo"
                ></app-processo-painel-expansivo>
            </div>

            <div class="mt-8">
                <h2 class="text-primary">Observações</h2>
                <p>
                    {{observacao}}
                </p>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-8">
            <div mat-dialog-actions class="flex items-center mt-4 sm:mt-0 ml-auto">
              <button class="ml-auto sm:ml-0 mr-4" mat-button mat-dialog-close>
                <span>Cancelar</span>
              </button>

              <button class="ml-auto sm:ml-0 mr-4 bg-red-600 text-white" mat-raised-button mat-dialog-close>
                <span>Recusar</span>
              </button>
        
              <button 
                class="ml-auto"
                color="primary" 
                mat-raised-button 
                mat-dialog-close
              >
                Confirmar  
              </button>
            </div>
          </div>
    </div>
</div>