<div class="absolute inset-0 flex flex-col w-full overflow-hidden">

    <!-- Header -->
    <div class="flex flex-row bg-white py-4 px-4 sm:px-8 lg:px-40 lg:py-13">
        <div class="flex flex-col text-accent-500 space-y-2 mt-2">
            <span class="text-2xl text-primary-500 font-medium">ATA DA SESSÃO {{sessao.numero}}/{{sessao.ano}}</span>
            <span>{{getData()}}</span>
            <mat-chip-list>
                <mat-chip>
                   100 processos
                </mat-chip>
            </mat-chip-list>
        </div>
        <mat-chip-list class="ml-8">
            <mat-chip>
               {{firstToUpperCase(sessao.colegiado)}}
            </mat-chip>
            <mat-chip>
                {{firstToUpperCase(sessao.tipo)}}
            </mat-chip>
            <mat-chip>
                {{firstToUpperCase(sessao.modalidade)}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <!-- Main -->
    <div class="flex flex-col overflow-y-auto py-4 px-4 sm:px-8 lg:py-8 lg:px-40" cdkScrollable>
        <app-composicao
          [presidente]="sessao.presidencia"
          (statusComposicao)="recuperaComposicao($event)"
        ></app-composicao>

        <app-form
          [secretario]="sessao?.secretario"
          (statusForm)="recuperaForm($event)"
        ></app-form>

        <div class="flex flex-row space-x-2 ml-auto">
            <button mat-button>Cancelar</button>
            <button mat-button class="text-white bg-primary" (click)="salvar()">Salvar</button>
        </div>
    </div>

    <div class="absolute top-0 right-0 z-9999">
        <fuse-alert class="max-w-120 mx-auto"
                    [type]="'error'"
                    [appearance]="'soft'"
                    [dismissible]=true
                    [dismissed]=true
                    [name]="'alertBox'">
            <span fuseAlertTitle>Erro de validação</span>
            {{mensagem}}
        </fuse-alert>
    </div>
</div>
