<div class="hidden md:flex flex-row mb-8 mt-4">
    <div class="mr-2 my-auto">
        <button (click)="scrollLeft('div_tags')">
            <mat-icon>
                navigate_before
            </mat-icon>
        </button>
    </div>
    <div id="div_tags" class="flex flex-1 flex-row overflow-hidden">
        <mat-chip-list *ngFor="let chip of chips" class="m-1 flex-none">
            <mat-chip [ngClass]="class">
                <mat-icon *ngIf="hasIcon" class="mr-2" style="color:red">picture_as_pdf</mat-icon>
                {{chip}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="ml-2 my-auto justify-self-end">
        <button (click)="scrollRight('div_tags')">
            <mat-icon>
                navigate_next
            </mat-icon>
        </button>
    </div>
</div>