<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between pl-8 bg-white dark:bg-transparent">
        <h1 class="mt-4 text-primary font-medium text-xl sm:text-2xl">
            Colegiado para a {{processo.classe| uppercase}}{{processo.numero}}-{{(processo.abreviacao)? processo.abreviacao: processo.cadeia}} Sessão {{queryParams.sessao}} 
            {{queryParams.colegiado | titlecase}}
        </h1>
        <div class="flex flex-row items-end mb-4 sm:my-4 ml-auto">
            <button class="z-0 mr-4" mat-button>
                <span>Cancelar</span>
            </button>
    
            <button 
                class="mr-8"
                color="primary" 
                (click)="finalizar()"
                mat-raised-button 
            >
                Finalizar 
            </button>
        </div>
    </div>

    <hr class="m-0 p-0" />

    <header class="px-8 pt-4 bg-white">
        <app-cabecalho-relator
            [processo]="queryParams?.processo"
            [colegiado]="queryParams?.colegiado"
        ></app-cabecalho-relator>

        <div class="my-2 text-primary font-medium text-lg">
            <p *ngIf="votosDosMinistros.length < 5">
                Informe os {{calcularContador()}} ministros que irão compor o colegiado.
              </p>

              <p *ngIf="votosDosMinistros.length >= 5">
                Já foram selecionados os 5 ministros para esse colegiado. 
                Para selecionar outros ministros primeiro desmarque algum
              </p>
        </div>
    </header>

    <!-- Main -->
    <div class="flex-auto  overflow-y-auto px-8 pb-8" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <div class="flex flex-col justify-center align-middle justify-items-center" >
            <main class="mt-4 grid grid-cols-1 gap-4 align-middle justify-items-center w-full mx-auto
                        sm:grid-cols-2 
                        md:grid-cols-3 md:max-w-280"
            >
              <app-card-ministro
                  [class]="'w-full max-w-72'"
                  *ngFor="let comp of colegiados[0]?.composicao"
                  [composicao]="comp"
                  [colegiado]="colegiados[0]?.nome"
                  [disabled]="isMinistroParticipadandoDaVotacao(comp)"
                  (statusVotacao)="obterStatusDoVoto($event)"
              ></app-card-ministro>
            </main>
        </div>
    </div>
</div>

<app-alerta
    [nome]="alerta.nome"
    [titulo]="alerta.titulo"
    [mensagem]="alerta.mensagem"
    [aparencia]="'outline'"
    [tipo]="alerta.tipo"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>
