<table mat-table [dataSource]="dataSource" class="w-full mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox 
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
            color="primary"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox 
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
            color="primary"
        ></mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Processo Column -->
    <ng-container matColumnDef="processo">
      <th mat-header-cell *matHeaderCellDef> Processo </th>
      <td mat-cell *matCellDef="let element"> 
          {{element.classe}} {{element.numero}} {{element.cadeia}} 
        </td>
    </ng-container>
  
    <!-- Relator Column -->
    <ng-container matColumnDef="relator">
      <th mat-header-cell *matHeaderCellDef> Relator </th>
      <td mat-cell *matCellDef="let element"> {{element.relator.nome}} </td>
    </ng-container>
  
    <!-- Indicação Column -->
    <ng-container matColumnDef="indicacao">
      <th mat-header-cell *matHeaderCellDef> Indicação </th>
      <td mat-cell *matCellDef="let element"> Indicação </td>
    </ng-container>
  
    <!-- Situação Column -->
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef> Situação </th>
      <td mat-cell *matCellDef="let element"> {{element.situacao?.situacao?.nome}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  