<section>
    <div>
        <div class="flex space-x-2 pl-0.5 ml-6 sm:pl-0 sm:ml-3.5">
            <mat-checkbox
                color="primary" class="mt-2 mb-2"
                (change)="selecionarOuDeselecionarTodosOsCheckbox()"
            ></mat-checkbox>

            <button mat-basic-button color="secondary" class="mt-2">
                <mat-icon>refresh</mat-icon>
            </button>
            <mat-form-field class="flex-1 h-2 md:hidden text-lg">
                <mat-select class="flex-1" style="height: 10px;" (selectionChange)="selecionarAcaoCorrespondente($event)" placeholder="Escolha sua ação">
                    <mat-option value="visualizar" class="bg-primary text-white">Visualizar Inteiro Teor</mat-option>
                    <mat-option value="incluir">Incluir no Inteiro Teor</mat-option>
                    <mat-option value="remover">Remover do Inteiro Teor</mat-option>
                    <mat-option value="revisar">Revisado</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="hidden md:flex space-x-4">
                <button (click)="visualizarInteiroTeor()" mat-flat-button color="primary">
                    Visualizar Inteiro Teor
                </button>
                <button (click)="incluirNovoDocumento()" mat-flat-button class="bg-gray-200">
                    Incluir no Inteiro Teor
                </button>
                <button (click)="removerInteiroTeor()" mat-flat-button class="bg-gray-200">
                    Remover/Reincluir no Inteiro Teor
                </button>
                <button (click)="revisar()" mat-flat-button class="bg-gray-200">
                    Revisado
                </button>
            </div>
        </div>
    </div>
</section>

<digital-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></digital-alerta>
