<div class="absolute inset-0 min-w-0 overflow-y-auto">
    <div class="py-4 px-8 block bg-white dark:bg-transparent">
        <!-- Header -->
        <div class="flex text-primary">
            <button mat-icon-button routerLink='../' [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
            </button>
            <h1 class="font-medium">Liberar processo para julgamento</h1>
        </div>

        <!-- Compose form -->
        <form
            class="flex flex-col py-6 sm:py-8 overflow-y-auto"
            [formGroup]="pautarForm"
        >
            <app-processo-chip
                [processos]="processos"
                [isRemovable]="true"
                [isEmitRemoveEvent]="true"
            ></app-processo-chip>

            <app-pautar-form
                [sessoes]="sessoes"
                (statusPautarForm)="atualizaPautarForm($event)"
            ></app-pautar-form>

            <div class="justify-between mt-4 md:mt-6">
                <div class="container flex flex-col md:flex-row items-end space-x-4 space-y-4 md:space-y-0">
                    <!-- Discard -->
                    <button class="justify-center w-full md:w-auto md:ml-0 bg-red-600 text-white" mat-button routerLink="../">
                        <span>CANCELAR</span>
                    </button>
                    <!-- Save as draft -->
                    <button class="w-full md:w-auto" mat-button (click)="sessaoExtraordinaria()">
                        SOLICITAR SESSÃO EXTRAORDINÁRIA
                    </button>
                    <!-- Send -->
                    <button
                        [disabled]="pautarForm.invalid"
                        mat-flat-button
                        class="w-full md:w-auto"
                        [color]="'primary'"
                        (click)="pautar()"
                    >
                        LIBERAR PARA JULGAMENTO
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
