<div class="flex flex-col md:min-w-160">

    <!-- Header -->
    <div class="flex text-primary">
        <button mat-icon-button routerLink='../' [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
        </button>
        <h1>Liberar processo para julgamento</h1>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="pautarForm"
    >
        <app-processo-chip
            [processos]="processos"
            [isRemovable]="true"
            [isEmitRemoveEvent]="true"
            [isReturnable]="true"
        ></app-processo-chip>

        <app-pautar-form
            [sessoes]="sessoes"
            (statusPautarForm)="atualizaPautarForm($event)"
        ></app-pautar-form>

        <div class="justify-between mt-4 md:mt-6">
            <div class="container flex flex-col md:flex-row justify-center gap-4 md:gap-0 mt-4 md:mt-0">
                <!-- Discard -->
                <button class=" md:ml-0" mat-button (click)="sessaoExtraordinaria()">
                    SOLICITAR SESSÃO EXTRAORDINÁRIA
                </button>
                <!-- Send -->
                <button
                    [disabled]="pautarForm.invalid"
                    mat-flat-button
                    class="order-first md:order-last"
                    [color]="'primary'"
                    (click)="pautar()"
                >
                    LIBERAR PARA JULGAMENTO
                </button>
                <!-- Save as draft -->
                <button class="justify-center md:ml-0" mat-button routerLink="../">
                    <span>CANCELAR</span>
                </button>
            </div>
        </div>
    </form>
</div>
