<div class="flex flex-col max-w-240 md:min-w-160 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Liberar processo para julgamento</div>
        <button mat-icon-button (click)="fechar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form 
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"  
        [formGroup]="pautarForm" 
    >
        <!-- <mat-chip-list #chipList class="content-center" aria-orientation="vertical">
                <mat-chip [removable]="true">
                    {{ this.idsProcessos }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list> -->

        <div class="flex flex-auto flex-row space-x-4">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Colegiado:</mat-label>
                <mat-select name="colegiado" formControlName="colegiado">
                    <mat-option *ngFor="let colegiado of colegiados" [value]="colegiado.viewValue" >
                        {{colegiado.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-auto flex-row space-x-4">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Filtre por período</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Data de início" name="data_inicio" formControlName="data_inicio">
                    <input matEndDate placeholder="Data do fim" name="data_fim" formControlName="data_fim">
                </mat-date-range-input>
    
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <div class="flex flex-auto flex-row space-x-4">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Sessão:</mat-label>
                <mat-select [formControlName]="'sessao'" placeholder="Escolha uma sessão" required>
                    <mat-option 
                    *ngFor="let sessaoJulgamento of (sessoes | filtroSessoes: this.pautarForm.get('colegiado').value : this.pautarForm.get('data_inicio').value : this.pautarForm.get('data_fim').value )" 
                    [value]="sessaoJulgamento.id"
                >
                    Sessão {{sessaoJulgamento.modalidade}}, <b>{{sessaoJulgamento.colegiado}}</b>, nº {{sessaoJulgamento.numero}}/{{sessaoJulgamento.ano}} de {{sessaoJulgamento.data_inicio | date:'dd/MM/yyyy'}} a {{sessaoJulgamento.data_fim  | date:'dd/MM/yyyy'}}
                </mat-option>

                </mat-select>
                <mat-error class="mb-1" *ngIf="'sessao.errors?.required'">
                    A sessão é obrigatória
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button class="ml-auto sm:ml-0" mat-button (click)="sessaoExtraordinaria()">
                    SOLICITAR SESSÃO EXTRAORDINÁRIA
                </button>
                <!-- Save as draft -->
                <button class="ml-auto sm:ml-0" mat-button mat-dialog-close (click)="fechar()">
                    <span>CANCELAR</span>
                </button>
                <!-- Send -->
                <button 
                    [disabled]="pautarForm.invalid"
                    mat-flat-button 
                    mat-dialog-close
                    class="order-first sm:order-last" 
                    [color]="'primary'" 
                    (click)="pautar()"
                >
                    LIBERAR PARA JULGAMENTO
                </button>
            </div>
        </div>
    </form>
</div>