
<div class="w-full relative">
    <p 
        class="w-3/5 absolute text-center flex flex-row gap-4 justify-end items-end"
        style="margin-top: -50px !important; margin-left: 40% !important;"
    >
        <button
            mat-raised-button
            class="mr-2"
            (click)="closeDrawer();"
        >
            {{'Cancelar' | uppercase}}
        </button>

        <button 
            *ngIf="vista?.id != null || destaque?.id != null"
            mat-raised-button 
            class="max-w-full mr-2" 
            color="warn"
            (click)="(vista?.id!=null) ? excluir('vista', vista) : excluir('destaque', destaque); closeDrawer();"
        >
           {{'Excluir' | uppercase}}
        </button>

        <button
            mat-raised-button
            class="max-w-full"
            color="primary"
            (click)="salvar()"
        >
            {{'Salvar' | uppercase}}
        </button>
    </p>

    <div class="flex flex-col flex-auto pt-4 sm:pt-2 m-2 overflow-y-auto ng-pristine ng-invalid ng-touched">
        <form [formGroup]="formVistaEDestaque" class="mx-4">
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-2">
                <mat-form-field class="w-full mb-4 col-span-1" appearance="outline">
                    <mat-label>Ministro requerente</mat-label>
                    <mat-select
                        formControlName="ministro"
                    >
                        <mat-option
                            *ngFor="let ministro of (ministros$ | async)"
                            [value]="ministro.id"
                        >
                            <div class="flex items-center">
                                <div>
                                    <img class="w-8 h-8 mr-4" [src]="ministro.imagem">
                                </div>
                                <div>{{ministro.nome}}</div>
                            </div>
                        </mat-option>
                    </mat-select>
                    <mat-hint>Informe qual foi o ministro requerente</mat-hint>
                </mat-form-field>

                <mat-form-field class="w-full mb-4 col-span-1" appearance="outline">
                    <mat-label>Informe a data</mat-label>
                    <input formControlName="data" autocomplete="off" (click)="picker.open()" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <editor id="texto-da-vista-destaque" apiKey="aduua1w16bzaswikm1p5qbkcx7jj757x4g58xdm9okd8wpw7" formControlName="texto" 
            [init]="{height: 600, menubar: false, plugins: [
                'autolink lists link charmap preview anchor',
                'insertdatetime table help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'}"></editor>
        </form>
    </div>
</div>

<app-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>
