
<div class="flex flex-0 flex-col min-h-140 min-m-4">
    
    <header class="flex items-center justify-between h-16 pr-3 bg-primary text-on-primary">
        <div *ngIf="(this.tipo | lowercase) == 'vista' ; then tituloVista else tituloDestaque">
            
        </div> 
        <ng-template #tituloVista><h1 class="flex w-full items-center justify-center text-lg font-medium text-white-500">PEDIDO DE VISTA</h1></ng-template>
        <ng-template #tituloDestaque><h1 class="flex w-full items-center justify-center text-lg font-medium text-white-500">PEDIDO DE DESTAQUE</h1></ng-template>
        
        <button mat-button 
                class="mat-focus-indicator mat-icon-button mat-button-base" 
                tabindex="-1"
                (click)="closeDrawer();"
                >
            <span class="mat-button-wrapper">
                <mat-icon matSuffix class="text-white">close</mat-icon>
            </span>
        </button>
    </header>

    <div class="flex flex-col flex-auto pt-4 sm:pt-2 m-2 overflow-y-auto ng-pristine ng-invalid ng-touched">
        <form [formGroup]="formVistaEDestaque">
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-2">
                <mat-form-field class="w-full mb-4 col-span-1" appearance="outline">
                    <mat-label>Ministro requerente</mat-label>
                    <mat-select
                        formControlName="ministro"
                    >
                        <mat-option 
                            *ngFor="let ministro of (ministros$ | async)" 
                            [value]="ministro.id"
                        >
                            <div class="flex items-center">
                                <div>
                                    <img class="w-8 h-8 mr-4" [src]="ministro.imagem">
                                </div>
                                <div>{{ministro.nome}}</div>
                            </div>
                        </mat-option>
                    </mat-select>
                    <mat-hint>Informe qual foi o ministro requerente</mat-hint>
                </mat-form-field>

                <mat-form-field class="w-full mb-4 col-span-1" appearance="outline">
                    <mat-label>Informe a data</mat-label>
                    <input formControlName="data" autocomplete="off" (click)="picker.open()" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
           <mat-form-field class="w-full h-full mb-2" appearance="outline">
                <mat-label>Texto</mat-label>
                
                <textarea class="h-100"
                    matInput 
                    rows="10"
                    formControlName="texto"
                ></textarea>

                <mat-hint>
                    Texto associado a suspensão 
                </mat-hint>
            </mat-form-field>

            <p class="mt-2 mb-2 text-center flex flex-row gap-2 justify-end items-end">
                <button
                    mat-raised-button 
                    class="mr-2" 
                    (click)="closeDrawer();"
                >
                    {{'Cancelar' | uppercase}}
                </button>

                <button 
                    *ngIf="vista!=null || destaque!=null"
                    mat-raised-button 
                    class="max-w-full" 
                    color="warn"
                >
                    {{'Excluir' | uppercase}}
                </button>
                
                <button 
                    mat-raised-button 
                    class="max-w-full" 
                    color="primary"
                    (click)="salvar()"
                >
                    {{'Salvar' | uppercase}}
                </button>
            </p>
        </form>
    </div>
</div>

<app-alerta
    [nome]="'Error'"
    [titulo]="'Error'"
    [mensagem]="errorMessage"
    [aparencia]="'outline'"
    [tipo]="'error'"
    class="absolute top-2 right-2 max-w-120 mx-auto z-40"
></app-alerta>