<div>
    <button class="absolute right-8 h-12 w-2 rounded-full my-auto sm:hidden"
        [style]="'background-color:' + situacao.color"
        [matTooltip]="situacao.text"
        matTooltipPosition="left"
        matTooltipShowDelay="100"
    ></button>
</div>

<!-- Se eu quiser que apenas preencha e ocupe: -->
<!-- w-40 no container -->
<!-- Se eu quero isso de acordo com o conteúdo: -->
<!-- Display flex e w-max no container -->
<!-- Limitando tamanho mínimo (?) -->

<div>
    <mat-chip class="absolute right-8 flex w-max min-w-40 text-center hidden sm:block"
        selected
        [style]="'background-color:' + situacao.color"
    >
        {{situacao.text}}
    </mat-chip>
</div>
