<div>
    <button class="absolute right-8 h-12 w-2 rounded-full my-auto sm:hidden"
        [style]="'background-color:' + situacao.color"
        [matTooltip]="situacao.text"
        matTooltipPosition="left"
        matTooltipShowDelay="100"
        matTooltipHideDelay="1000"
    ></button>
</div>

<div>
    <mat-chip class="absolute right-8 w-40 text-center hidden sm:block"
        selected 
        [style]="'background-color:' + situacao.color"
    >
        {{situacao.text}}
    </mat-chip>
</div>