<table mat-table [dataSource]="dataSource" class="w-full">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox 
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox 
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        ></mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.documento.nome}} </td>
    </ng-container>
  
    <!-- Tipo Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.documento.tipo}} </td>
    </ng-container>
  
    <!-- Data de Criação Column -->
    <ng-container matColumnDef="data_criacao">
      <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
      <td mat-cell *matCellDef="let element"> {{element.documento.data_criacao | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Autor Column -->
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor(es) </th>
      <td class="whitespace-pre-line text-center" mat-cell *matCellDef="let element"> 
        <div 
          class="flex items-center justify-center -space-x-1.5 ng-star-inserted"
          [matTooltip]="getNomeDosAutores(element.autores)"
          matTooltipClass="whitespace-pre-line"
        >
          <img 
            *ngFor="let ministro of element.autores"
            [alt]="minsitro?.nome" 
            class="flex-0 w-8 h-8 rounded-full ring 
              ring-offset-1 ring-bg-card ring-offset-transparent 
              object-cover ng-star-inserted" 
            [src]="ministro?.imagem"
          >
        </div>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.documento.status}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
</table>
  