<mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
>
    <mat-expansion-panel-header
        [collapsedHeight]="'40px'"
        class="p-4 h-20 sm:h-16"
    >
        <div class="my-4 ml-3">
            <div class="w-screen container flex sm:mt-4">
                <div class="flex-none">
                    <div class="flex flex-row">
                        <h2 class="font-medium">
                            {{processo.classe}} {{processo.numero}} - {{getTipoProcesso()}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel-header>

    <!--Conteúdo de dentro da área expansível-->
    <app-processo-capitulo [processo]="processo"></app-processo-capitulo>
</mat-expansion-panel>
