<div class="sm:items-center w-screen sm:justify-between p-3 pb-11 sm:pt-2 sm:pb-10 sm:px-5 bg-default dark:bg-transparent">
    <div>
        <app-filtro
        ></app-filtro>
    </div>

    <div>
        <app-contador></app-contador>
    </div>

    <div class="m-2 sm:mx-0.5">
        <app-linha
            *ngFor="let processo of processos"
            [processo]="processo"
            (checked)="trataEventoDeChecked($event)"
            [Selected]="SelectAll"
            (tagSelecionada)="filtrarPorTags($event)"
            (statusSelecionado)="filtrarPorStatus($event)"
        ></app-linha>
    </div>

    <mat-expansion-panel class="flex flex-col" *ngFor="let processo of processos">
        <mat-expansion-panel-header [collapsedHeight]="'80px'" class="h-full w-full specific-class">
            <div class="flex flex-col lg:flex-row lg:justify-start">
                <div class="flex flex-row flex-wrap lg:max-w-3/5 py-2 w-2/12">
                    <div class="flex flex-nowrap flex-row">
                        <div class="flex">
                            <div>
                                <mat-checkbox
                                    color="primary"
                                >
                                </mat-checkbox>
                            </div>
                        </div>
                        <img
                            *ngIf="(processo.relator && processo.relator.imagem) || (processo.redator && processo.redator.imagem)"
                            [src]="processo?.relator?.imagem ? processo.relator.imagem : processo.redator.imagem"
                            alt="Imagem de perfil"
                            class="w-14 h-14 mr-6 mb-4 rounded-full"
                        >
                        <div class="flex flex-col flex-none mr-14">
                            <div class="text-lg font-medium text-primary leading-tight">
                                {{ processo.classe }} {{ processo.numero }}
                            </div>
                            <div class="flex flex-row" *ngIf="processo.relator || processo.redator">
                                <div class="text-md leading-tight font-bold">
                                    {{ processo.relator.abreviacao || processo.redator.abreviacao }}
                                </div>
                                <div class="text-md text-secondary ml-2 leading-tight">
                                    {{ processo.relator ? "Relator" : "Redator" }}
                                </div>
                            </div>
                            <mat-chip-list #chipList class="mt-2">
                                <mat-chip class="flex-none border-green-700 border-solid border-2 bg-transparent text-green-700">
                                    {{ processo.capitulos[0].dispositivo }}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
                <div class="lg:ml-4 lg:mt-8 flex flex-row lg:max-w-3/5 w-8/12">
                    <div class="w-1/2">
                        <app-carrossel
                            [idChip]="'idTags'"
                            [chips]="processo.lista"
                            [lastId]="lastId"
                        ></app-carrossel>
                    </div>
                    <div class="w-1/2">
                        <app-carrossel
                            [idChip]="'idDocs'"
                            [chips]="processo.documentos"
                            [lastId]="lastId"
                            [hasIcon]="true"
                            [class]="['border-primary', 'border-solid', 'border-2', 'bg-transparent', 'text-primary']"
                            (linkDoPdfSelecionado)="abrirLink($event)"
                        ></app-carrossel>
                    </div>


                </div>
                <div class="flex flex-row flex-wrap lg:max-w-3/5 py-2 w-2/12">
                    <div class="ml-2 text-xl">
                        {{ processo.nome }}
                    </div>
                </div>
            </div>

        </mat-expansion-panel-header>
        <app-processo-capitulo [processo]="processo"></app-processo-capitulo>
    </mat-expansion-panel>
</div>
