<div class="sm:items-center w-screen sm:justify-between p-3 pb-11 sm:pt-2 sm:pb-10 sm:px-5 bg-default dark:bg-transparent">
    <div>
        <app-filtro
        ></app-filtro>
    </div>

    <div>
        <app-contador
            [sessao]="sessao"
        ></app-contador>
    </div>

    <!-- <div class="m-2 sm:mx-0.5">
        <app-linha
            *ngFor="let processo of processos"
            [processo]="processo"
            (checked)="trataEventoDeChecked($event)"
            [Selected]="SelectAll"
            (tagSelecionada)="filtrarPorTags($event)"
            (statusSelecionado)="filtrarPorStatus($event)"
        ></app-linha>
    </div> -->

    <mat-expansion-panel class="flex flex-col" *ngFor="let processo of processos; let i = index">
        <mat-expansion-panel-header [collapsedHeight]="'80px'" class="h-full w-full specific-class">
            <div class="flex flex-col w-full">
                <div class="justify-between flex flex-row flex-wrap">
                    <div class="flex flex-row py-2">
                        <div class="flex flex-nowrap flex-row">
                            <div class="flex">
                                <div>
                                    <mat-checkbox
                                        color="primary"
                                    >
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <img
                            *ngIf="(processo.relator && processo.relator.imagem)"
                            src="processo.relator.imagem || processo.relator.imagem"
                            alt="Imagem de perfil"
                            class="w-14 h-14 mr-6 rounded-full"
                        >
                        <div class="flex flex-col">
                            <div class="text-xl font-medium text-primary leading-tight">
                                {{ processo.classe }} {{ processo.numero }}
                            </div>
                            <div class="flex flex-row" *ngIf="processo.relator || processo.redator">
                                <div class="text-md leading-tight font-bold">
                                    {{ processo.relator.abreviacao || processo.redator.abreviacao }}
                                </div>
                                <div class="flex flex-row" *ngIf="processo.relator || processo.redator">
                                    <div class="text-md leading-tight font-bold">
                                        {{ processo.relator.abreviacao || processo.redator.abreviacao }}
                                    </div>
                                    <div class="text-md text-secondary ml-2 leading-tight">
                                        {{ processo.relator ? "Relator" : "Redator" }}
                                    </div>
                                </div>
                                <mat-chip-list #chipList class="mt-2">
                                    <mat-chip class="flex-none border-green-700 border-solid border-2 bg-transparent text-green-700">
                                        {{ processo.capitulos[0].dispositivo }}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                            <div class="flex flex-col text-xl">
                                {{ processo.nome }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="impedimentos[i] | async as imp; else loading" class="flex flex-row flex-wrap mr-2 items-end space-x-2">
                        <mat-chip-list #chipList class="mt-2 flex-none" *ngFor="let impedimento of imp">
                            <mat-chip (click)="abrirJanela(impedimento)" [class]="(impedimento.tipo=='Suspeição') ? 'bg-primary-400' : 'bg-red-300'">
                                <mat-icon class="mr-2 icon-size-4" style="color:firebrick">warning</mat-icon>
                                {{(impedimento.tipo=='Suspeição') ? 'Possível motivo de suspeição' : 'Possível motivo de impedimento'}}
                            </mat-chip>
                        </mat-chip-list>   
                    </div>
                    <ng-template #loading>
                        <div class="relative">
                            <mat-spinner class="absolute bottom-0 right-4" [diameter]="30"></mat-spinner>
                        </div>
                    </ng-template>
                </div>
                <!-- <div class="flex flex-col items-start w-9/12">
                    <div class="text-xl mt-3">
                        {{ processo.nome }}
                    </div>
                </div> -->

                <!-- <div class="flex flex-row flex-wrap lg:max-w-3/5 py-2 w-2/12">
                    <div class="ml-2 text-xl">
                        {{ processo.nome }}
                    </div>
                </div> -->
                <div class="flex flex-row w-full">
                    <div class="w-1/2">
                        <app-carrossel
                            [idChip]="'idTags'"
                            [chips]="tags"
                            [lastId]="lastId"
                        ></app-carrossel>
                    </div>
                    <div class="w-1/2">
                        <app-carrossel
                            [idChip]="'idDocs'"
                            [chips]="documentos"
                            [lastId]="lastId"
                            [hasIcon]="true"
                            [class]="['border-primary', 'border-solid', 'border-2', 'bg-transparent', 'text-primary']"
                            (linkDoPdfSelecionado)="abrirLink($event)"
                        ></app-carrossel>
                    </div>
                </div>
            </div>



        </mat-expansion-panel-header>
        <app-processo-capitulo [processo]="processo"></app-processo-capitulo>
    </mat-expansion-panel>
</div>

<fuse-drawer
    id="visualisador"
    [name]="'telaImpedimentos'"
    [opened]="false"
    [position]="'right'"
    [mode]="'over'"
>
    <div class="w-screen mx-8">
        <button 
            class="bg-accent-200 mt-4 absolute right-8 rounded-full text-center h-8 w-8" 
            mat-icon-button 
            (click)="toggleDrawerOpen('telaImpedimentos')"
        >
            <mat-icon class="text-current mt-1 text-black" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        
            <h2 class="mt-16 w-full">{{label}}</h2>
        
            <div class="mb-4 border-solid border-t-2 text-justify">
              <h4 class="font-medium mb-0 pt-2">Tipo:</h4>
              {{tipo}}
            </div>
            <div class="mb-4 border-solid border-t-2 text-justify">
              <h4 class="font-medium mb-0 pt-2">Relacionamento:</h4>
              {{relacionamento}}
            </div>
            <div class="mb-4 border-solid border-t-2 text-justify">
              <h4 class="font-medium mb-0 pt-2">Descrição:</h4>
              {{descricao}}
            </div>
            <div class="mb-4 border-solid border-t-2 text-justify">
              <h4 class="font-medium mb-0 pt-2">Observação:</h4>
              {{observacao}}
            </div>             
    </div>
</fuse-drawer>
